{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Personal
{% endblock %}

{% block body -%}
    {{ form(edit_form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('personal_show', { 'id': entity.id }) }}">
            Regresar a ficha de información de personal
        </a>
    </li>
    <li>
        <a href="{{ path('personal') }}">
            Regresar a la lista de personal
        </a>
    </li>
</ul>
{% endblock %}
