{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar Personal
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Lista de Personal
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('personal_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.primerNombre }} {{ entity.segundoNombre }}</td>
                <td>{{ entity.primerApellido }} {{ entity.segundoApellido }}</td>
                <td>{{ entity.nombre }}</td>
                <td>
                                  
                    <a href="{{ path('personal_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;  
                    <a href="{{ path('reposo', { 'cedula': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-ambulance"></span>&nbsp;Reposos</a>&nbsp;  
                    <a href="{{ path('personaldatosvariables_lista', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Datos Variables</a>&nbsp;
                    <a href="{{ path('personaldatosgenericos_lista', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Datos Genéricos</a>&nbsp;
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
        <ul>
        <li>
            <a href="{{ path('personal_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
