{% extends '::base.html.twig' %}

{% block body_title -%}

    <div>
        Personal 
    </div>
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Datos personales
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <div class="container-fluid row">
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fotografía
                    </div>                    
                </div>    
                <div  align="center">{#{{dump(personal)}}#}
                    <img src="{% if personal.foto is defined %} {{ asset('uploads/fotos/', absolute=true) }}{{personal.rutaFoto}} {% endif %}" height="100" width="100" vspace="5" border="5" onerror="this.onerror=null;this.src='{{ asset('uploads/fotos/avatar.jpg', absolute=true) }}';">
                </div>
            </div>            
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Cedula
                    </div>                    
                </div>    
                <div  align="center">
                    <a href="{{ path('personal_show', { 'id': personal.id }) }}">{{ personal.id }}</a>
                </div>
            </div>            
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Nombres y apellidos
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.primerNombre }} {{ personal.segundoNombre }} {{ personal.primerApellido }} {{ personal.segundoApellido }}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Nacionalidad
                    </div>                    
                </div>    
                <div  align="center">
                    {% if personal.nacionalidad %}
                            {% if personal.nacionalidad=='V' %}
                                Venezolano(a)
                            {% elseif personal.nacionalidad=='E' %}
                                Extranjero(a)
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Genero
                    </div>                    
                </div>    
                <div  align="center">
                    {% if personal.genero %}
                            {% if personal.genero=='M' %}
                                Masculino
                            {% elseif personal.genero=='F' %}
                                Femenino
                            {% endif %}
                    {% endif %}
                </div>
            </div>
            
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Estado civil
                    </div>                    
                </div>    
                <div  align="center">
                    {% if personal.estadoCivil %}
                            {% if personal.estadoCivil=='C' %}
                                Casado(a)
                            {% elseif personal.estadoCivil=='S' %}
                                Soltero(a)
                            {% elseif personal.estadoCivil=='D' %}
                                Divorciado(a)
                            {% elseif personal.estadoCivil=='V' %}
                                Viudo(a)    
                            {% endif %}
                    {% endif %}    
                </div>
            </div>
            
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de nacimiento
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.fechaNacimiento|date('d-m-Y') }}
                </div>
            </div>
        </div>
{#        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Libreta militar
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.libretaMilitar }}
                </div>
            </div>
            
        </div>#}
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Rif
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.rif }}
                </div>
            </div>
            
        </div>
{#         <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Licencia
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.licencia }}
                </div>
            </div>
            
        </div>
{#        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Altura
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.altura }}
                </div>
            </div>
            
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Peso
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.peso }}
                </div>
            </div>
            
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Talla de camisa
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.tallaCamisa }}
                </div>
            </div> 
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Talla de pantalon
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.tallaPantalon }}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Talla de calzado
                    </div>                    
                </div>    
                <div  align="center">
                    {{ personal.tallaCalzado }}
                </div>
            </div>
            
        </div>
#}
    </div>
    </div>
    <ul class="record_actions">
    <a href="{{ path('personal_edit', { 'id': personal.id }) }}">
            Editar Datos del Personal
    </a>
    </ul>    
</div>
   
<div class="portlet">
    <div class="portlet-title" id="datoscontactoporlet">
        <div class="caption">
                <i ></i>Datos de contacto
        </div>
        <div class="tools">
                <a href="javascript:;" class="expand"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
      
    <div class="portlet-body" align="center">
        <div class="container-fluid row">
            {% if correo %} 
            {% for correopersonal in correo %}
            <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Correo
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if correopersonal.Correo %}
                             <a href="{{ path('personalcorreopersonal_edit', { 'id': correopersonal.id }) }}">{{ correopersonal.Correo }}</a>
                        {% endif %}    
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                No se han suministrado correos personales.
                <br>
            {% endif %}
            {% if telefono %}         
            {% for telefonopersonal in telefono %}
            <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Telefono
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if telefonopersonal.Telefono %}
                            <a href="{{ path('personaltelefonopersonal_edit', { 'id': telefonopersonal.id }) }}">{{ telefonopersonal.Telefono }}</a>
                        {% endif %}    
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                    No se han suministrado números telefónicos.
            {% endif %}    
        </div>
    </div>
    <br>
    <ul class="record_actions" align="left">
        <a href="{{ path('personalcorreopersonal_new', { 'id': personal.id }) }}">
            Agregar correo personal
        </a>
        <br>    
        <a href="{{ path('personaltelefonopersonal_new', { 'id': personal.id }) }}">
            Agregar telefono personal
        </a>    
    </ul>
</div>    

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Datos de residencia
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if vivienda %}
    {% for vivienda in vivienda %}    
    <div class="container-fluid row">
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Condición
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vivienda.condicion %}
                            {% if vivienda.condicion=='P' %}
                                Propia
                            {% elseif vivienda.condicion=='A' %}
                                Alquilada
                            {% elseif vivienda.condicion=='C' %}
                                Compartida
                            {% elseif vivienda.condicion=='O' %}
                                Otra
                            {% endif %}
                    {% endif %}    
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Dirección
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vivienda %}
                        {{ vivienda.direccion }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Codigo postal
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vivienda %}
                        {{ vivienda.codigoPostal }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Referencia
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vivienda %}
                        {{ vivienda.referencia }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Estado
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vivienda %}
                        {{ vivienda.estado }}
                    {% endif %} 
                </div>
            </div>
        </div> 
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Municipio
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vivienda %}
                        {{ vivienda.municipio }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Parroquia
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vivienda %}
                        {{ vivienda.parroquia }}
                    {% endif %} 
                </div>
            </div>
        </div>   
    </div>
    {% endfor %}
    {% else %}
            No se han proporcionado los datos.
    {% endif %}        
    </div>
    <ul class="record_actions">
        <a href="{{ path('personalvivienda_new', { 'id': personal.id }) }}">
            Agregar/Editar Datos de residencia
        </a>
    </ul>    
</div>    

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Información medica
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if informacionmedica %}
    {% for medica in informacionmedica %}    
    <div class="container-fluid row">
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Tipo de sangre
                    </div>                    
                </div>    
                <div  align="center">
                    {% if medica %}
                        {{ medica.tipoSangre }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Usa lentes
                    </div>                    
                </div>    
                <div  align="center">
                    {% if medica %}
                        {% if medica.usaLentes==1 %}
                            Si
                        {% else %} 
                            No
                        {% endif %} 
                    {% endif %}  
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Es zurdo
                    </div>                    
                </div>    
                <div  align="center">
                    {% if medica %}
                        {% if medica.esZurdo==1 %}
                            Si
                        {% else %} 
                            No
                        {% endif %} 
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>     
    {% endfor %}
    {% else %}
            No se han proporcionado los datos.
    {% endif %} 
    </div>
   
    <ul class="record_actions">
        <a href="{{ path('personalinformacionmedica_new', { 'id': personal.id }) }}">
            Agregar/Editar Información medica
        </a>
    </ul>    
</div>    

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Enfermedades que padece
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if enfermedades %}
    {% set contador = 1 %}         
    {% for enfermedades in enfermedades %}
    <div class="seccion">        
    <div class="container-fluid row">        
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Enfermedad Nº: {{ contador }}
                    </div>                    
                </div>    
                <div  align="center">
                    {% if enfermedades %}
                        {{ enfermedades.descripcion }}
                    {% endif %} 
                </div>
            </div>
        </div>    
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Tratamiento Nº: {{ contador }}
                    </div>                    
                </div>    
                <div  align="center">
                    {% if enfermedades %}
                        {{ enfermedades.tratamiento }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Costo de tratamiento Nº: {{ contador }}
                    </div>                    
                </div>    
                <div  align="center">
                    {% if enfermedades %}
                        {{ enfermedades.costoTratamiento }}
                    {% endif %} 
                </div>
            </div>
        </div>
        {% set contador = contador + 1 %}
    </div>
    <br>
    <ul class="record_actions" align="left">
        <a href="{{ path('personalenfermedad_edit', { 'id': enfermedades.id }) }}">
            Editar datos de enfermedad {{ enfermedades.descripcion }}
        </a>
    </ul>        
    </div>
    {% endfor %}
    {% else %}
            No se han proporcionado los datos.
    {% endif %}      
    </div>
   
    <ul class="record_actions">
        <a href="{{ path('personalenfermedad_new', { 'id': personal.id }) }}">
            Agregar enfermedad
        </a>
    </ul>    
</div>    

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Estudios
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if estudio %}
    {% for estudios in estudio %}
    <div class="seccion">        
    <div class="container-fluid row">         
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Descripción
                    </div>                    
                </div>    
                <div  align="center">
                    {% if estudios %}
                        {{ estudios.descripcion }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Duración
                    </div>                    
                </div>    
                <div  align="center">
                    {% if estudios %}
                        {{ estudios.duracion }}
                    {% endif %} 
                </div>
            </div>
        </div>    
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Tipo
                    </div>                    
                </div>    
                <div  align="center">
                    {% if estudios %}
                            {% if estudios.Tipo=='0' %}
                                Bachillerato
                            {% elseif estudios.Tipo=='1' %}
                                Taller 
                            {% elseif estudios.Tipo=='2' %}
                                Curso
                            {% elseif estudios.Tipo=='3' %}
                                T.S.U
                            {% elseif estudios.Tipo=='4' %}
                                Universitario    
                            {% elseif estudios.Tipo=='5' %}
                                Diplomado
                            {% elseif estudios.Tipo=='6' %}
                                Especialización
                            {% elseif estudios.Tipo=='7' %}
                                Maestria
                            {% elseif estudios.Tipo=='8' %}
                                Doctorado     
                            {% endif %}
                        {% endif %}  
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de inicio
                    </div>                    
                </div>    
                <div  align="center">
                    {% if estudios %}
                        {{ estudios.fechaInicio|date('d-m-Y') }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de culminación
                    </div>                    
                </div>    
                <div  align="center">
                    {% if estudios.fechaCulminacion is not null %}
                        {{ estudios.fechaCulminacion|date('d-m-Y') }}
                    {% else %}
                        No suministrado
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Institución
                    </div>                    
                </div>    
                <div  align="center">
                    {% if estudios %}
                        {{ estudios.institucion }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Estado
                    </div>                    
                </div>    
                <div  align="center">
                    {% if estudios %}
                            {% if estudios.Estado=='T' %}
                                Terminado
                            {% elseif estudios.Estado=='C' %}
                                Cursando     
                            {% endif %}
                        {% endif %}  
                </div>
            </div>
        </div>    
    </div>
    <br>
    <ul class="record_actions" align="left">
        <a href="{{ path('personalestudio_edit', { 'id': estudios.id }) }}">  
            Editar datos de estudio {{ estudios.descripcion }}
        </a>
    </ul>
    </div>         
    {% endfor %}
    {% else %}
            No se han proporcionado los datos.
    {% endif %}     
    </div>
   
    <ul class="record_actions">
        <a href="{{ path('personalestudio_new', { 'id': personal.id }) }}">    
            Agregar estudios
        </a>
    </ul>    
</div>
    
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Experiencia laboral
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if experiencialaboral %}
    {% for experiencialaboral in experiencialaboral %}
    <div class="seccion">        
    <div class="container-fluid row">         
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Descripción
                    </div>                    
                </div>    
                <div  align="center">
                    {% if experiencialaboral %}
                        {{ experiencialaboral.institucion }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Tipo de institución
                    </div>                    
                </div>
                <div  align="center">
                    {% if experiencialaboral.tipo %}
                        {% if experiencialaboral.tipo=='A' %}
                            Admon pública
                        {% elseif experiencialaboral.tipo=='E' %}
                            Empresa privada
                        {% endif %}
                    {% endif %}
               </div>    
            </div>
        </div>    
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de inicio
                    </div>                    
                </div>    
                <div  align="center">
                    {% if experiencialaboral %}
                        {{ experiencialaboral.fechaIngreso|date('d-m-Y') }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de culminación
                    </div>                    
                </div>    
                <div  align="center">
                    {% if experiencialaboral.fechaEgreso %}
                        {{ experiencialaboral.fechaEgreso|date('d-m-Y') }}
                    {% else %}
                        No se cuenta con registro
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Cargo ocupado
                    </div>                    
                </div>    
                <div  align="center">
                    {% if experiencialaboral %}
                        {{ experiencialaboral.cargo }}
                    {% endif %} 
                </div>
            </div>
        </div>    
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Ultimo sueldo devengado
                    </div>                    
                </div>    
                <div  align="center">
                    {% if experiencialaboral %}
                        {{experiencialaboral.sueldo | number_format(2, ',', '.') }}
                    {% endif %} 
                </div>
            </div>
        </div>    
    </div>
    <br>
    <ul class="record_actions" align="left">
        <a href="{{ path('personalexperiencialaboral_edit', { 'id': experiencialaboral.id }) }}">          
            Editar datos de experiencia laboral en {{ experiencialaboral.institucion }}
        </a>
    </ul>
    </div>         
    {% endfor %}
    {% else %}
            No se han proporcionado los datos.
    {% endif %}     
    </div>
   
    <ul class="record_actions">
        <a href="{{ path('personalexperiencialaboral_new', { 'id': personal.id }) }}">       
            Agregar experiencia laboral
        </a>
    </ul>    
</div>    
    
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Vehículo
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if vehiculo %}
    {% for vehiculo in vehiculo %}
    <div class="seccion">        
    <div class="container-fluid row">         
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Placa
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vehiculo %}
                        {{ vehiculo.placa }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Modelo
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vehiculo %}
                        {{ vehiculo.modelo }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Año
                    </div>                    
                </div>    
                <div  align="center">
                    {% if vehiculo %}
                        {{ vehiculo.anio }}
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
    <br>
    <ul class="record_actions" align="left">
        <a href="{{ path('personalvehiculo_edit', { 'id': vehiculo.id }) }}">    
            Editar datos de vehículo {{ vehiculo.modelo }}
        </a>
    </ul>
    </div>         
    {% endfor %}
    {% else %}
            No se han proporcionado los datos.
    {% endif %}     
    </div>
   
    <ul class="record_actions">
        <a href="{{ path('personalvehiculo_new', { 'id': personal.id }) }}">    
            Agregar vehículo
        </a>
    </ul>    
</div> 
    
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Carga familiar
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if cargafamiliar %}
    {% for carga in cargafamiliar %}
        <div class="seccion">    
        <div class="container-fluid row">
            <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Cedula
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if carga.Cedula %}
                            {{ carga.Cedula }}
                        {% endif %}    
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Nombre
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if carga.Nombre %}
                            {{ carga.Nombre }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Parentesco
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if carga.Parentesco %}
                            {% if carga.Parentesco=='P' %}
                                Padre
                            {% elseif carga.Parentesco=='M' %}
                                Madre
                            {% elseif carga.Parentesco=='H' %}
                                Hijo(a)
                            {% elseif carga.Parentesco=='R' %}
                                Hermano
                            {% elseif carga.Parentesco=='E' %}
                                Esposo(a)
                            {% elseif carga.Parentesco=='C' %}
                                Concubino(a)    
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Genero
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if carga.Genero %}
                            {% if carga.Genero=='M' %}
                                Masculino
                            {% else %}
                                Femenino
                            {% endif %}
                        {% endif %} 
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Fecha de nacimiento
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if carga.fechaNacimiento %}
                            {{ carga.fechaNacimiento|date('d-m-Y') }}
                        {% endif %}
                    </div>
                </div>
            </div>
                <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Estudia
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if carga.Estudia %}
                            {% if carga.Estudia=='S' %}
                                Si
                            {% else %}
                                No
                            {% endif %}
                        {% endif %} 
                    </div>
                </div>
        </div>
        <div class="col-xs-6 col-sm-3">
                <div class="registro">
                    <div class="titulo">
                        <div>
                            <i ></i>Nivel de instrucción
                        </div>                    
                    </div>    
                    <div  align="center">
                        {% if carga.nivelInstruccion %}
                            {% if carga.nivelInstruccion=='1' %}
                                Inicial
                            {% elseif carga.nivelInstruccion=='2' %}
                                Basica
                            {% elseif carga.nivelInstruccion=='3' %}
                                Media
                            {% elseif carga.nivelInstruccion=='4' %}
                                Superior
                            {% elseif carga.nivelInstruccion=='5' %}
                                Avanzada
                            {% endif %}
                        {% endif %} 
                    </div>
                </div>
        </div>
        </div>
    <ul class="record_actions" align="left">
        <a href="{{ path('personalcargafamiliar_edit', { 'id': carga.id }) }}">
            <br>
            Editar datos de {{ carga.Nombre }}
        </a>
    </ul>
    </div>            
    {% endfor %}
    {% else %}
            El funcionario no posee carga familiar
    {% endif %}        
    </div>
    <br>
    <ul class="record_actions" align="left">
        <a href="{{ path('personalcargafamiliar_new', { 'id': personal.id }) }}">
            Agregar carga familiar
        </a>
    </ul>
</div>     

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Información laboral. Sec-1 (cuentas, sueldo, tipo de nomina)
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <div class="container-fluid row">
        {% if informacionlaboral %}
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Nro. de Expediente
                    </div>                    
                </div>    
                <div  align="center">
                    {% if informacionlaboral.expediente is defined and informacionlaboral.expediente is not null %}
                        {{ informacionlaboral.expediente }}
                    {% else %}
                        Sin especificar
                    {% endif %}    
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Nº de cuenta nomina
                    </div>                    
                </div>    
                <div  align="center">
                    {% if informacionlaboral %}
                        {{ informacionlaboral.cuentaNomina }}
                    {% endif %}    
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Nº de cuenta fideicomiso
                    </div>                    
                </div>    
                <div  align="center">
                    {% if informacionlaboral %}
                        {{ informacionlaboral.cuentaFideicomiso }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de Ingreso
                    </div>                    
                </div>    
                <div  align="center">
                    {% if informacionlaboral %}
                        {{ informacionlaboral.fechaIngreso|date('d-m-Y') }}
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de Egreso
                    </div>                    
                </div>    
                <div  align="center">
                    {% if informacionlaboral.fechaEgreso %}
                        {{ informacionlaboral.fechaEgreso|date('d-m-Y') }}
                    {% else %}
                        Actualmente el empleado se encuentra activo
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Condición de egreso
                    </div>                    
                </div>    
                <div  align="center">
                    {% if informacionlaboral %}
                            {% if informacionlaboral.condicionEgreso=='R' %}
                                Renuncia
                            {% elseif informacionlaboral.condicionEgreso=='D' %}
                                Despido
                            {% elseif informacionlaboral.condicionEgreso=='H' %}
                                Inhabilitación
                            {% elseif informacionlaboral.condicionEgreso=='I' %}
                                Incapacitación
                            {% elseif informacionlaboral.condicionEgreso=='J' %}
                                Jubilación
                            {% elseif informacionlaboral.condicionEgreso=='O' %}
                                Otro  
                            {% endif %}
                    {% endif %}    
                </div>
            </div>
        </div>    

        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Tipo de nomina
                    </div>                    
                </div>    
                <div  align="center">
                   {% if tiponomina %}
                            {{ tiponomina }}
                    {% endif %}  
                </div>
            </div>
        </div>
                
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Abreviación de Título Profesional
                    </div>                    
                </div>    
                <div  align="center">
                    {% if informacionlaboral.tituloProfesional %}
                        {{ informacionlaboral.tituloProfesional }}
                    {% else %}
                        Sin especificar (Será determinado con base a sus estudios culminados)
                    {% endif %} 
                </div>
            </div>
        </div>
        {% else %}
            No se han proporcionado los datos.
        {% endif %}        
   </div>      
   </div>
    <ul class="record_actions">
        <a href="{{ path('personalinformacionlaboral_new', { 'id': personal.id }) }}">
            Agregar/Editar Información laboral
        </a>
    </ul>    
</div>    
    

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Información laboral. Sec-2 (Historial Laboral)
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <br>    
     {% if historicocargo %}
     {% for historico in historicocargo %}
    <div class="seccion">
    {% if historico.historicocargo %}     
    <div class="container-fluid row">         
         <div class="col-xs-6 col-sm-3">
             <div class="registro">
                 <div class="titulo">
                     <div>
                         <i ></i>Cargo
                     </div>                    
                 </div>    
                 <div  align="center">
                    {% if historico %}
                        {% if historico.nivel==1 %}
                            {% set nivel='I' %}
                        {% elseif historico.nivel==2 %}
                            {% set nivel='II' %}
                        {% elseif historico.nivel==3 %}
                            {% set nivel='III' %}
                        {% elseif historico.nivel==4 %}
                            {% set nivel='IV' %}
                        {% elseif historico.nivel==5 %}
                            {% set nivel='V' %}
                        {% elseif historico.nivel==6 %}
                            {% set nivel='VI' %}  
                        {% endif %}
                     
                        {% if nivel is defined %}
                            {{ historico.cargo }} {{ nivel }}
                        {% else %}
                            {{ historico.cargo }}
                        {% endif %} 
                    {% endif %} 
                 </div>
             </div>
         </div>
         <div class="col-xs-6 col-sm-3">
             <div class="registro">
                 <div class="titulo">
                     <div>
                         <i ></i>Fecha de inicio
                     </div>                    
                 </div>    
                 <div  align="center">
                     {% if historico %}
                         {{ historico.cargoinicia|date('d-m-Y') }}
                     {% endif %} 
                 </div>
             </div>
         </div>
        <div class="col-xs-6 col-sm-3">
             <div class="registro">
                 <div class="titulo">
                     <div>
                         <i ></i>Fecha de finalización
                     </div>                    
                 </div>    
                 <div  align="center">
                     {% if historico.fechaFin %}
                         {{ historico.fechaFin|date('d-m-Y') }}
                     {% else %}
                         Dirección y Cargo actuales
                     {% endif %} 
                 </div>
             </div>
         </div>

        {% if historico.sueldo is defined %}
           <div class="col-xs-6 col-sm-3">
              <div class="registro">
                  <div class="titulo">
                      <div>
                          <i ></i>Sueldo
                      </div>                    
                  </div>    
                  <div  align="center">
                      {{ historico.sueldo | number_format(2, ',', '.') }}                                  
                  </div>
              </div>
          </div>
        {% endif %} 
       <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Dirección
                    </div>                    
                </div>    
                <div  align="center">
                    {% if historico.nombre is defined %}
                         {{ historico.nombre }}
                    {% endif %} 
                </div>
            </div>
        </div>
     </div> 
     <ul class="record_actions" align="left">
             <br>
             <a href="{{ path('personalhistoricocargo_edit', { 'id': historico.historicocargo }) }}">
                 Editar datos
             </a>    
         </ul>
     {% else %}
             No se ha asignado ningún cargo.
     {% endif %}       
     </div>    
     <br>
     {% endfor %}
     {% endif %}     
     
     <ul class="record_actions" align="left">
        <a href="{{ path('personalhistoricocargo_new', { 'id': personal.id, 'opcion': 'fijo' }) }}">
            Asignar Cargo y/o Dirección
        </a>   
     </ul>      
     </div>
</div>
    
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Información laboral. Sec-3 (Encargadurías)
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if encargadurias %}
    {% for encargadurias in encargadurias %}
    <div class="seccion">
    {% if encargadurias.historicocargo %}     
    <div class="container-fluid row">         
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Cargo
                    </div>                    
                </div>    
                <div  align="center">
                     {% if encargadurias %}
                        {% if encargadurias.nivel==1 %}
                            {% set nivel='I' %}
                        {% elseif encargadurias.nivel==2 %}
                            {% set nivel='II' %}
                        {% elseif encargadurias.nivel==3 %}
                            {% set nivel='III' %}
                        {% elseif encargadurias.nivel==4 %}
                            {% set nivel='IV' %}
                        {% elseif encargadurias.nivel==5 %}
                            {% set nivel='V' %}
                        {% elseif encargadurias.nivel==6 %}
                            {% set nivel='VI' %}  
                        {% endif %}    
                        
                        {% if nivel is defined %}
                            {{ encargadurias.cargo }} {{ nivel }}
                        {% else %}
                            {{ encargadurias.cargo }}
                        {% endif %} 
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha de nombramiento
                    </div>                    
                </div>    
                <div  align="center">
                    {% if encargadurias %}
                        {{ encargadurias.cargoinicia|date('d-m-Y') }}
                    {% endif %} 
                </div>
            </div>
        </div>
       <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Fecha finalización
                    </div>                    
                </div>    
                <div  align="center">
                     {% if encargadurias.fechaFin %}
                         {{ encargadurias.fechaFin|date('d-m-Y') }}
                     {% else %}
                         Actualmente se encuentra encargado
                     {% endif %} 
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="registro">
                <div class="titulo">
                    <div>
                        <i ></i>Dirección
                    </div>                    
                </div>    
                <div  align="center">
                    {% if encargadurias %}
                        {{ encargadurias.nombre }}
                    {% endif %} 
                </div>
            </div>
        </div>   
    </div> 
    <ul class="record_actions" align="left">
        <br>
        <a href="{{ path('personalhistoricocargo_edit', { 'id': encargadurias.historicocargo }) }}">
            Editar datos
        </a>    
    </ul>
    {% else %}
            No se ha asignado ningún cargo.
    {% endif %}       
    </div>    
    <br>
    {% endfor %}
    {% endif %}     
    </div>
    <ul class="record_actions">
        <a href="{{ path('personalhistoricocargo_new', { 'id': personal.id, 'opcion': 'encargado' }) }}">
            Asignar Encargaduria
        </a>   
    </ul>    
</div>    
    
<ul class="record_actions">
    <li>
        <a href="{{ path('personal') }}">
            Regresar a la lista de personal
        </a>
    </li>
</ul>
<br>    
{% endblock %}
