{% extends '::base.html.twig' %}

{% block body_title -%}
    Lista de Plantillas de Nómina
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Plantilla de Nómina
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Frecuencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('plantillanomina_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.frecuencia }}</td>
                <td>             
                    <a href="{{ path('plantillanomina_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                    <a href="{{ path('plantillanomina_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                    <a href="#personalizar" id="{{ entity.id }}" class="btn btn-default btn-xs black boton_personalizar" data-toggle="modal"><span class=" fa fa-list-ul"></span>&nbsp;Personalizar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<form name="forma_personalizar" id="forma_personalizar" class="form-horizontal form-bordered" action="{{ path('plantillanomina_personalizarconceptos') }}" method="POST">
    <div id="personalizar" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h2 class="modal-title" align="center">Personalizar Conceptos por Funcionario</h2>
                                <input type='hidden' id='plantilla_id' name='plantilla_id' value=''>
                                <input type='hidden' id='persona_id' name='persona_id' value=''>
                        </div>
                        <div class="modal-body" id="cuerpo_modal">
                                <div id='cuerpo_personalizar'>   
                                    <table class="table table-hover table-striped" id="PaginadorModal2">
                                        <thead>
                                            <tr>
                                                <th>Cedula</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="bloque_resultado_personalizar" style="display:none">
                                    <h1 id="resultado_personalizar">Conceptos del Funcionario: </h1>
                                </div>
                                <div id='cuerpo_personalizar2' style="display:none">   
                                    <table class="table table-hover table-striped" id="PaginadorModal3">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Concepto</th>
                                                <th>Estado</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    <p>        
                        <div id="loader1" align="center" style="display:none">
                            <img src="{{ asset('bundles/cetnomina/assets/img/ajax_loader.gif', absolute=true)}}" align="center" />
                        </div>   
                        <div id="loader2" align="center" style="display:none">
                            <img src="{{ asset('bundles/cetnomina/assets/img/ajax_loader.gif', absolute=true)}}" align="center" />
                        </div>

                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-offset-8 col-md-9">  
                                            <input type="button" class="btn btn-err" id="boton_cerrar" value="Cancelar" data-dismiss="modal"/>
                                            <input type="submit" class="btn btn-success" value="Aceptar" />                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </p>
                </div>
        </div>
    </div>                   
</form>                   
                    
        <ul>
        <li>
            <a href="{{ path('plantillanomina_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}

{% block script -%}
//Bloque para cargar funcionarios segun plantilla de nomina
$(".boton_personalizar").click(function(event) {
    event.preventDefault();
    var cadena1='';
    var data_input = {
        id_plantilla: $(this).attr('id'),
    };
    $('#cuerpo_modal').hide();
    $('#cuerpo_personalizar2').hide();
    $('#bloque_resultado_personalizar').hide();
    $('#loader1').show();
    $('#plantilla_id').val($(this).attr('id'));
    $.ajax({
        type: 'post',        
        url: '{{ path("plantillanomina_personalizar") }}',
        data : data_input,
        success :  function(data_output){
            $('#loader1').hide();
            $('#cuerpo_personalizar').html("");
            var cadena="<table class='table table-hover table-striped' id='PaginadorModal2'><thead><tr><th>Cedula</th><th>Nombres</th><th>Apellidos</th></tr></thead><tbody>";
            for (var i=0, total = data_output.length; i < total; i++) {
                cadena+="<tr><td><a href='#' id='"+data_output[i].id+"' name='"+data_output[i].id+"' class='concepto_personal_id'>"+data_output[i].id+"</a></td><td>"+data_output[i].primerNombre+" "+data_output[i].segundoNombre+"</td><td>"+data_output[i].primerApellido+" "+data_output[i].segundoApellido+"</td></tr>";
            }  
            cadena+="</tbody></table>";
            $('#cuerpo_personalizar').html(cadena);
            
            $(this).load('#cuerpo_personalizar');
            TableEditable.init("PaginadorModal2");     
            $('#cuerpo_modal').show();            
        },
        error : function(data_output){
            $('#loader1').hide();
            $('#PaginadorModal2').html("Error");
            $('#cuerpo_modal').show(); 
        }
    });
}); 

//Bloque para cargar conceptos segun funcionario seleccionado
$(document).on('click', '.concepto_personal_id', function(){
    event.preventDefault();
    var data_input = {
        id_personal: $(this).attr('id'),
        id_plantilla: $('#plantilla_id').attr('value'),
    };
    $('#persona_id').val($(this).attr('id'));
    $('#cuerpo_personalizar2').hide();
    $('#bloque_resultado_personalizar').hide();
    $('#loader2').show();
    $.ajax({
        type: 'post',        
        url: '{{ path("plantillanomina_conceptospersonalizar") }}',
        data : data_input,
        success :  function(data_output){
            $('#loader2').hide();
            $('#cuerpo_personalizar2').html("");
            //var cadena="<table class='table table-hover table-striped' id='PaginadorModal3'><thead><tr><th>Código</th><th>Concepto</th><th>Estado</th></tr></thead><tbody>";
            //for (var i=0, total = data_output.length; i < total; i++) {
            //   var activo=(data_output[i].estado)==1?"checked":"";
            //    cadena+="<tr><td>"+data_output[i].codigo+"</td><td>"+data_output[i].nombre+"</td><td><input type='checkbox' class='checkboxes' value='"+ data_output[i].codigo +"' "+activo+"/></td></tr>";    
            //}  
            //cadena+="</tbody></table>";
            
            //Prueba de conceptos en select
            var cadena="<div><select id='conceptos_select' name='conceptos_select[]' class='multi-select' multiple='multiple'>";
            for (var i=0, total = data_output.length; i < total; i++) {
                var activo=(data_output[i].estado)==1?"selected":"";
                cadena+="<option "+activo+" value='"+data_output[i].codigo+"' >"+data_output[i].codigorelleno+" - "+data_output[i].nombre+"</option>>";    
            } 
            cadena+="</select></div>";
            
            $('#cuerpo_personalizar2').html(cadena);
            $(this).load('#cuerpo_personalizar2');
            //App.init();
            //TableEditable.init("PaginadorModal3");                        
            $('#resultado_personalizar').text("Conceptos del Funcionario: " + data_input.id_personal);
            $('#bloque_resultado_personalizar').show();
            $('#cuerpo_personalizar2').show();
            
            $('#conceptos_select').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Buscar...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Buscar...'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                selectableFooter: "<h5><b>Disponibles</b></h5>",
                selectionFooter: "<h5><b>Seleccionados</b></h5>",
            });
            
        },
        error : function(data_output){
            $('#loader2').hide();
            $('#PaginadorModal3').html("Error");
            $('#cuerpo_personalizar2').show(); 
        }
    });
});

{% endblock %}