<div class="note note-danger">
    <h2 class="block">Error 403: Acceso Denegado</h4>
    <h5>
    <p>
             El usuario empleado no tiene la permisología necesaria para acceder a este módulo.             
    </p>
    </br>
    <p>
             De ser necesario, solicite asistencia a la Dirección Técnica.
    </p>
    </h5>
</div>