{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Variable
{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('variable') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}

{% block script -%}
    
//Ajax para actualizar la lista de atributos según la Entidad Seleccionada    
$("#cet_nominabundle_variable_Entidad").change(function(){
    var data_input = {
        entidad_id: $(this).find('option:selected').text()
    };
    var $city_selector = $('#cet_nominabundle_variable_Atributo');    
    document.getElementById("cet_nominabundle_variable_Atributo").disabled = true;
    $.ajax({
        type: 'post',
        url: '{{ path("variable_atributos") }}',
        data: data_input,
        success: function(data_output) {            
            document.getElementById("cet_nominabundle_variable_Atributo").disabled = false;
            $city_selector.html('<option value="">Ahora Seleccione el Atributo</option>');
            for (var i=0, total = data_output.length; i < total; i++) {
                $city_selector.append('<option value="' + i + '">' + data_output[i] + '</option>');
            }
        }
    });
}); 

//Bloque para transcribir entidades al campo SQL
$("#cet_nominabundle_variable_Entidad").change(function(){
    var entidad=$('#cet_nominabundle_variable_Entidad').find('option:selected').text()
    $('#cet_nominabundle_variable_sql').val($('#cet_nominabundle_variable_sql').val() + entidad + " ");
}); 

//Bloque para transcribir atributos al campo SQL
$("#cet_nominabundle_variable_Atributo").change(function(){
    var atributo=$('#cet_nominabundle_variable_Atributo').find('option:selected').text()
    var entidad=$('#cet_nominabundle_variable_Entidad').find('option:selected').text()
    $('#cet_nominabundle_variable_sql').val($('#cet_nominabundle_variable_sql').val() + atributo.substring(0,atributo.search(" - ")) + " "); 
}); 

//Bloque para transcribir palabras clave al campo SQL
$("#cet_nominabundle_variable_reservado").change(function(){
    var reservado=$('#cet_nominabundle_variable_reservado').find('option:selected').text()
    $('#cet_nominabundle_variable_sql').val($('#cet_nominabundle_variable_sql').val() + reservado + " ");  
}); 

//Bloque para realizar pruebas de variables
$("a.lista_personal_id").click(function(event) {
    event.preventDefault();
    var data_input = {
        id_personal: $(this).attr('id'),        
        sql_variable: $('#cet_nominabundle_variable_sql').val(),
        nombre_variable:  $('#cet_nominabundle_variable_nombre').val(),
    };
    $('#bloque_resultado_variable').hide();
    $('#ajax_loader').show();
    $.ajax({
        type: 'post',
        url: '{{ path("variable_prueba") }}',
        data : data_input,
        success :  function(data_output){
            $("#cedula_funcionario").text("CEDULA FUNCIONARIO: " + data_input.id_personal);
            $("#nombre_variable").text("VARIABLE: " + data_input.nombre_variable);
            $("#resultado_variable").text("RESULTADO: " + data_output);
            $('#ajax_loader').hide();
            $('#bloque_resultado_variable').show(); 
        },
        error : function(data_output){
            $('#ajax_loader').hide();
            $("#resultado_variable").text("!ERROR¡");
            console.log(JSON.stringify(data_output));
        }
    });
}); 
{% endblock %}
