{% extends '::base.html.twig' %}

{% block body_title -%}
    Variable
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Variable
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>           
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>                 
            <tr>
                <th>Tipo</th>
                <td>{% if entity.tipo=='f' %} Fecha    {% endif %}
                    {% if entity.tipo=='n' %}  Numérica {% endif %}
                    {% if entity.tipo=='t' %}  Texto {% endif %}
                    </td>
            </tr>
            <tr>
                <th>Expresión DQL</th>
                <td>{{ entity.sql }}</td>
            </tr>                    
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('variable') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('variable_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
