{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear Correo Personal
{% endblock %}

{% block body -%}
    <table class="record_actions">
        <tbody>            <tr>
                <th><h3>Correo personal de:</h3></th>
                <td><h3><b>&nbsp;&nbsp;{{ entity.FkCorreoPersonalPersonal1 }}</b></h3></td>
            </tr>            <tr>
        </tbody>
    </table>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('personal_show', { 'id': entity.getFkCorreoPersonalPersonal1.id }) }}">
           Regresar a ficha de información de personal
        </a>
    </li>
</ul>
{% endblock %}
