{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Respaldo
{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('respaldo') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
