
                <ul>

                {%- for action in record_actions %}
                    
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}" class="btn btn-default btn-xs black">{% if action == 'edit' %}<span class=" fa fa-edit"></span>&nbsp;Editar{% endif %}{% if action == 'show' %}<span class=" fa fa-share"></span>&nbsp;Ver{% endif %}</a>&nbsp;
               
                {%- endfor %}

                </ul>
