{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar Historico Evento
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>HistoricoEvento
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Esquema</th>
                <th>Tabla</th>
                
                <th>Usuario</th>
                
                <th>Direccion IP</th>
                
                <th>Fecha</th>
                <th>Accion</th>
                
                <th>Datos</th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('historicoevento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.esquema }}</td>
                <td>{{ entity.tabla }}</td>
                
                <td>{{ entity.usuarioaplicacion }}</td>
                
                <td>{{ entity.ipaplicacion }}</td>
                
                <td>{% if entity.fecha %}<span style="display: none;">{{ entity.fecha|date('Y-m-d') }}</span> {{ entity.fecha|date('d/m/Y H:i:s') }} {% endif %}</td>
                <td>{{ entity.accion }}</td>
                
                <td>{{ entity.datosnuevos }}</td>
                
                <td>
                <ul>                    
                    <a href="{{ path('historicoevento_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
    {% endblock %}
