{% extends '::base.html.twig' %}

{% block body_title -%}
    HistoricoEvento
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>HistoricoEvento
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Esquema</th>
                <td>{{ entity.esquema }}</td>
            </tr>            <tr>
                <th>Tabla</th>
                <td>{{ entity.tabla }}</td>
            </tr>                        <tr>
                <th>Usuarioaplicacion</th>
                <td>{{ entity.usuarioaplicacion }}</td>
            </tr>                      <tr>
                <th>Ipaplicacion</th>
                <td>{{ entity.ipaplicacion }}</td>
            </tr>            <tr>
                <th>Sistema</th>
                <td>{{ entity.sistema }}</td>
            </tr>            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d/m/Y H:i:s') }}</td>
            </tr>            <tr>
                <th>Accion</th>
                <td>{{ entity.accion }}</td>
            </tr>                       <tr>
                <th>Datosnuevos</th>
                <td>{{ entity.datosnuevos }}</td>
            </tr>            <tr>
                <th>Sentencia</th>
                <td>{{ entity.sentencia }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('historicoevento') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
