{% extends '::base.html.twig' %}

{% block body_title -%}
    Lista Carga Masiva de Datos
{% endblock %}

{% block body -%}

        <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                {% if tipo is defined %}    
                    {% if tipo=='genericos' %}   
                        <i ></i>Carga Masiva de Datos Genericos
                    {% elseif tipo=='variables' %}     
                        <i ></i>Carga Masiva de Datos Variables
                    {% endif %}
                {% endif %}
            </div>
            <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
            </div>
        </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="Paginador">
            <thead>
                <tr>
                    <th>Descripción</th>
                    {% if tipo=='genericos' %}   
                        <th>Tipo de dato generico</th>
                    {% elseif tipo=='variables' %}     
                        <th>Concepto que afecta</th>
                    {% endif %}
                    <th>Estado</th>
                    <th>Fecha de carga</th>
                    <th>Fecha de proceso</th>
                    <th>Nombre del Txt</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    {% if entity.tipocarga=='G' %}
                        <td>{{ entity.getFkDatoGenericoTipoDatoGenerico1() }}</td>
                    {% elseif entity.tipocarga=='V' %}
                        <td>{{ entity.getFkConcepto1() }}</td>
                    {% endif %}
                    <td>{% if entity.estado=='C' %}{{ 'Cargado' }}{% elseif entity.estado=='P' %}{{ 'Procesado' }}{% elseif entity.estado=='E' %}{{ 'Procesado con errores' }}{% endif %}</td>
                    <td>{% if entity.fechaCarga %}{{ entity.fechaCarga|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if entity.fechaProceso %}{{ entity.fechaProceso|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ entity.nombretxt }}</td>
                    <td>
                    <ul>     
                       
                        
                            {% if entity.tipocarga=='G' %}
                                <a href="{{ path('cargamasiva_show', { 'id': entity.id, 'opcion': 'genericos' }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                                {% if entity.estado=='C' %}
                                    <a href="{{ path('cargamasiva_procesar', { 'id': entity.id, 'opcion': 'genericos' }) }}" onclick="return confirm('Se dispone a procesar la carga masiva, ¿Esta Segúro de realizar esta acción?')" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Procesar</a>&nbsp;
                                    <a href="{{ path('cargamasiva_edit', { 'id': entity.id, 'opcion': 'genericos' }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                                {% else %}
                                    <a href="{{ path('cargamasiva_anular', { 'id': entity.id, 'opcion': 'genericos' }) }}" onclick="return confirm('Esta intentando anular la carga masiva, ¿Esta Segúro de realizar esta acción?')" class="btn btn-default btn-xs black"><span class=" fa fa fa-eraser"></span>&nbsp;Anular</a>&nbsp;
                                {% endif %}
                            {% elseif entity.tipocarga=='V' %}
                                <a href="{{ path('cargamasiva_show', { 'id': entity.id, 'opcion': 'variables' }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                                {% if entity.estado=='C' %}
                                    <a href="{{ path('cargamasiva_edit', { 'id': entity.id, 'opcion': 'variables' }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                                    <a href="{{ path('cargamasiva_procesar', { 'id': entity.id, 'opcion': 'variables' }) }}" onclick="return confirm('Se dispone a procesar la carga masiva, ¿Esta Segúro de realizar esta acción?')" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Procesar</a>&nbsp;
                                {% else %}
                                    <a href="{{ path('cargamasiva_anular', { 'id': entity.id, 'opcion': 'variables' }) }}" onclick="return confirm('Esta intentando anular la carga masiva, ¿Esta Segúro de realizar esta acción?')" class="btn btn-default btn-xs black"><span class=" fa fa fa-eraser"></span>&nbsp;Anular</a>&nbsp;
                                {% endif %}
                            {% endif %}
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

                    </div>
                </div>
        </div>
 {% if tipo is defined %}    
    {% if tipo=='genericos' %}   
        <ul>
            <li>
                <a href="{{ path('cargamasiva_new', { 'opcion': 'genericos' }) }}">
                Cargar archivo de carga masiva para datos genericos
                </a>
            </li>
        </ul>
    {% elseif tipo=='variables' %}     
        <ul>
            <li>
               <a href="{{ path('cargamasiva_new', { 'opcion': 'variables' }) }}">
                Cargar archivo de carga masiva para datos variables
                </a>
            </li>
        </ul>
    {% endif %}
{% endif %}

{% endblock %}
