{% extends '::base.html.twig' %}

{% block body_title -%}
    {% if tipo is defined %}    
    {% if tipo=='genericos' %}   
        Crear Carga Masiva de Datos Genericos
    {% elseif tipo=='variables' %}     
        Crear Carga Masiva de Datos Variables
    {% endif %}
    {% endif %}
{% endblock %}

{% block body -%}

    {{ form(form) }}
    {% if tipo is defined %}    
    {% if tipo=='genericos' %}   
        <ul>
            <li>
                <a href="{{ path('cargamasiva_genericos') }}">
                Regresar a lista de carga masiva para datos genericos
                </a>
            </li>
        </ul>
    {% elseif tipo=='variables' %}     
        <ul>
            <li>
               <a href="{{ path('cargamasiva_variables') }}">
                Regresar a lista de carga masiva para datos variables
                </a>
            </li>
        </ul>
    {% endif %}
    {% endif %}
{% endblock %}
