{% extends '::base.html.twig' %}

{% block body_title -%}
    Carga Masiva de Datos
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                {% if tipo is defined %}    
                {% if tipo=='genericos' %}   
                    <ul>
                        <li>
                            <i ></i>Carga Masiva de Datos Genericos
                        </li>
                    </ul>
                {% elseif tipo=='variables' %}     
                   <ul>
                        <li>
                            <i ></i>Carga Masiva de Datos Variables
                        </li>
                    </ul>
                {% endif %}
                {% endif %}
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    {% if tipo is defined %}    
    {% if tipo=='genericos' %}   
        <table class="record_properties">
        <tbody>           <tr>
                <th>Descripcion de la carga masiva</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo de dato generico</th>
                <td>{{ entity.getFkDatoGenericoTipoDatoGenerico1() }}</td>
            </tr>             <tr>
                <th>Estado</th>
                {% if entity.estado =='C' %}
                    <td>Cargado</td>
                {% elseif entity.estado =='P' %}
                    <td>Procesado</td>
                {% elseif entity.estado =='E' %}
                    <td>Procesado con errores</td>
                {% endif %}
            </tr>            <tr>
                <th>Fecha de carga</th>
                <td>{{ entity.fechaCarga|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Fecha de proceso</th>
                {% if entity.fechaProceso is null %}
                    <td>En espera de proceso</td>
                {% else %}
                    <td>{{ entity.fechaProceso|date('d-m-Y') }}</td>
                {% endif %}
            </tr>           <tr>
                <th>Nombre de Txt</th>
                <td>{{ entity.nombretxt }}</td>
            </tr>
        </tbody>
        </table>
        <br>
        <table class="record_properties">
        <tbody>
        {% if estado is defined %}
        {% if estado == 'P' %}    
            {% if datosgenericos is defined %}
                {% if datosgenericos is empty %}
                    <h2>Esta carga masiva ya fue procesada, pero los datos genéricos fueron actualizados por otra, por favor verifique los datos.</h2>
                {% else %}
                    <h2>Listado de datos cargados</h2>
                    <tr>
                        <th>Personal:</th>
                        <th>Monto</th>
                    </tr>
                    {% for datosgenericos in datosgenericos %}
                        {% if datosgenericos.getFkDatosGenericosPersonal1 is defined %}
                            <tr>
                            <td>{{ datosgenericos.getFkDatosGenericosPersonal1() }}</td>
                        {% endif %}
                        {% if datosgenericos.valor is defined %}
                            <td>{{ datosgenericos.valor }}</td>
                            </tr>     
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            {% endif %}            
        {% endif %}            
        {% endif %}            
            </tbody>
        </table>
        <ul class="record_actions" align="left">
        <li>
            <a href="{{ path('cargamasiva_genericos') }}"> 
                Regresar a la lista
            </a>
        </li>

        {% if entity.estado =='C' %}
            <li>
            <a href="{{ path('cargamasiva_edit', { 'id': entity.id, 'opcion': 'genericos' }) }}">
                Editar
            </a>
            </li>    
        {% endif %}
        </ul>
    {% elseif tipo=='variables' %}     
       <table class="record_properties">
        <tbody>           <tr>
                <th>Descripcion de la carga masiva</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Concepto que afecta la carga</th>
                <td>{{ entity.getFkConcepto1() }}</td>
            </tr> 
            <tr>
                <th>Sección de afectación</th>
                <td>{{ entity.getSeccionAfectacion() }}</td>
            </tr>
            <tr>
                <th>Sección de afectación</th>
                <td>{{ entity.getModoAfectacion() }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                {% if entity.estado =='C' %}
                    <td>Cargado</td>
                {% elseif entity.estado =='P' %}
                    <td>Procesado</td>
                {% elseif entity.estado =='E' %}
                    <td>Procesado con errores</td>
                {% endif %}
            </tr>            <tr>
                <th>Fecha de carga</th>
                <td>{{ entity.fechaCarga|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Fecha de proceso</th>
                {% if entity.fechaProceso is null %}
                    <td>En espera de proceso</td>
                {% else %}
                    <td>{{ entity.fechaProceso|date('d-m-Y') }}</td>
                {% endif %}
            </tr>           <tr>
                <th>Nombre de Txt</th>
                <td>{{ entity.nombretxt }}</td>
            </tr>
        </tbody>
        </table>
        <br>
        <table class="record_properties">
        <tbody>
        {% if estado is defined %}
        {% if estado == 'P' %}    
            {% if datosvariables is defined %}
                {% if datosvariables is empty %}
                    <h2>Esta carga masiva ya fue procesada, pero los datos genéricos fueron actualizados por otra, por favor verifique los datos.</h2>
                {% else %}
                    <h2>Listado de datos cargados</h2>
                    <tr>
                        <th>Personal:</th>
                        <th>Monto</th>
                    </tr>
                    {% for datosvariables in datosvariables %}
                        {% if datosvariables.getFkDatosVariablesPersonal1 is defined %}
                            <tr>
                            <td>{{ datosvariables.getFkDatosVariablesPersonal1() }}</td>
                        {% endif %}
                        {% if datosvariables.valor is defined %}
                            <td>{{ datosvariables.valor }}</td>
                            </tr>     
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            {% endif %}            
        {% endif %}            
        {% endif %}            
            </tbody>
        </table>
        <ul class="record_actions" align="left">
        <li>
            <a href="{{ path('cargamasiva_variables') }}"> 
                Regresar a la lista
            </a>
        </li>

        {% if entity.estado =='C' %}
            <li>
            <a href="{{ path('cargamasiva_edit', { 'id': entity.id, 'opcion': 'variables' }) }}">
                Editar
            </a>
            </li>    
        {% endif %}
        </ul>
    {% endif %}
    {% else %}
       <li>
            <a href="{{ path('cargamasiva') }}">   
                Regresar a la lista
            </a>
        </li> 
    {% endif %}
    </div>
</div>

{% endblock %}
