{% extends '::base.html.twig' %}

{% block body_title -%}
    BaseLegal
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>BaseLegal
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Rutadigital</th>
                <td>{{ entity.rutaDigital }}</td>
            </tr>            <tr>
                <th>Fechaexpedicion</th>
                <td>{{ entity.fechaExpedicion|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Fechaexpiracion</th>
                <td>{{ entity.fechaExpiracion|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('baselegal') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('baselegal_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
