{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar inf. de vivienda
{% endblock %}

{% block body -%}
    <table class="record_actions">
        <tbody>            <tr>
                <th><h3>Dirección de vivienda de:</h3></th>
                <td><h3><b>&nbsp;&nbsp;{{ entity.Personal }}</b></h3></td>
            </tr>            <tr>
        </tbody>
    </table>
    {{ form(edit_form) }}
    <div id="datospersonal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Confirmación/<h4>
                        </div>
                        <div class="modal-body">
                                <p>
                                         ¿Realmente desea eliminar el registro?  
                                </p>
                        </div>
                        <div class="modal-footer">
                                <form action="{%if entity.id is defined and entity.id != "" and edit_form is defined %}{{path('personal'~(edit_form.vars.name|lower)|replace({'cet_nominabundle_': ''})~'_delete', { 'id': entity.id })}}{%endif%}" method="post">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-success" onclick="submit();">Si</button>
                                </form>                                                        
                        </div>
                </div>
        </div>
    </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('personal_show', { 'id': entity.getPersonal.id }) }}">
           Regresar a ficha de información de personal
        </a>
    </li>
</ul>
{% endblock %}

{% block script -%}
$("#cet_nominabundle_vivienda_Municipio").change(function(){
    var data = {
        province_id: $(this).val()
    };
    var $city_selector = $('#cet_nominabundle_vivienda_fk_vivienda_parroquia1');    
    document.getElementById("cet_nominabundle_vivienda_fk_vivienda_parroquia1").disabled = true;
    $.ajax({
        type: 'post',
        url: '{{ path("personalvivienda_cities") }}',
        data: data,
        success: function(data) {            
            document.getElementById("cet_nominabundle_vivienda_fk_vivienda_parroquia1").disabled = false;
            $city_selector.html('<option value="">Ahora Seleccione la Parroquia</option>');
            for (var i=0, total = data.length; i < total; i++) {
                $city_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
            }
        }
    });
});    
    
$("#cet_nominabundle_vivienda_Estado").change(function(){
    var data = {
        province_id: $(this).val()
    };
    var $province_selector = $('#cet_nominabundle_vivienda_Municipio');
    document.getElementById("cet_nominabundle_vivienda_Municipio").disabled = true;
    document.getElementById("cet_nominabundle_vivienda_fk_vivienda_parroquia1").disabled = true;
    $.ajax({
        type: 'post',
        url: '{{ path("personalvivienda_provinces") }}',
        data: data,
        success: function(data) {
            var $province_selector = $('#cet_nominabundle_vivienda_Municipio');
            document.getElementById("cet_nominabundle_vivienda_Municipio").disabled = false;
            document.getElementById("cet_nominabundle_vivienda_fk_vivienda_parroquia1").disabled = false;
            $province_selector.html('<option value="">Ahora Seleccione el Municipio</option>');
            var $city_selector = $('#cet_nominabundle_vivienda_fk_vivienda_parroquia1');
            $city_selector.html('<option value="">Seleccione la Parroquia</option>');
            for (var i=0, total = data.length; i < total; i++) {
                $province_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
            }
        }
    });
});
{% endblock %}