{% extends '::base.html.twig' %}

{% block body_title -%}
    Registrar número de telefono personal
{% endblock %}

{% block body -%}
    <table class="record_actions">
        <tbody>            <tr>
                <th><h3>Telefono personal de:</h3></th>
                <td><h3><b>&nbsp;&nbsp;{{ entity.FkTelefonoPersonalPersonal }}</b></h3></td>
            </tr>            <tr>
        </tbody>
    </table>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('personal_show', { 'id': entity.getFkTelefonoPersonalPersonal.id }) }}">   
            Regresar a ficha de información de personal
        </a>
    </li>
</ul>
{% endblock %}
