{% extends '::base.html.twig' %}

{% block body_title -%}
    <table width="100%">
        <tr>
            <td>
                Listar Cargos
            </td>
            <td align="right">     
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#variacion">Variación de Sueldo</button>
            </td>
        </tr>
    </table>    
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Cargo
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Sueldo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cargo_show', { 'id': entity.id }) }}">{{ "%03d"|format(entity.id) }}</a></td>
                <td>{{ entity.nombre }}</td>
                
                {% if entity.nivel is defined %}
                    {% if entity.nivel==1 %}
                        {% set nivel='I' %}
                    {% elseif entity.nivel==2 %}
                        {% set nivel='II' %}
                    {% elseif entity.nivel==3 %}
                        {% set nivel='III' %}
                    {% elseif entity.nivel==4 %}
                        {% set nivel='IV' %}
                    {% elseif entity.nivel==5 %}
                        {% set nivel='V' %}
                    {% elseif entity.nivel==6 %}
                        {% set nivel='VI' %}
                    {% else %}
                        {% set nivel='' %}
                    {% endif %}
                    <td>{{ nivel }}</td>
                {% endif %} 
                
                <td>{{ entity.sueldo | number_format(2, ',', '.') }}</td>
                <td>
                <ul>                    
                    <a href="{{ path('cargo_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                    <a href="{{ path('cargo_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="variacion" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Variación de Sueldo</h4>
                        </div>
                        <div class="modal-body">
                             Porcentaje de variación lineal de sueldos: <input type="text" name="porcentaje" id="porcentaje"><br>
                        </div>
                        <div class="modal-footer">
                                <form name="form_variacion" id="form_variacion" method="post">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-success" id="boton_variacion" name="boton_variacion">Aceptar</button>
                                </form>                                                        
                        </div>
                </div>
        </div>
</div>                    
                    
                    
        <ul>
        <li>
            <a href="{{ path('cargo_new') }}">
                Crear nuevo registro
            </a>            
        </li>
    </ul>
    {% endblock %}
        
{% block script -%}
    
//Bloque para presentar confirmación de variación de sueldo
$('#boton_variacion').click(function(event) {
 event.preventDefault();
    var porcentaje = $('#porcentaje').val();
    
    var ruta = "{{ path('cargo_aumento', { 'porcentaje': 'sustituir_porcentaje' }) }}";
    var rutaCorrecta = ruta.replace("sustituir_porcentaje",porcentaje);
    
    $('#form_variacion')[0].setAttribute('action', rutaCorrecta);
    $('#form_variacion').submit();   
});

{% endblock %}