{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Nomina
{% endblock %}

{% block body -%}

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.descripcion) }}
        {{ form_row(edit_form.fecha) }}
        {{ form_row(edit_form.desde) }}
        {{ form_row(edit_form.hasta) }}
        {{ form_row(edit_form.periodo) }}
        {{ form_row(edit_form.anio) }}
        {{ form_row(edit_form.fechaAbono) }}
        {{ form_row(edit_form.tipo) }}
        {{ form_row(edit_form.fk_nomina_plantilla_nomina1) }}
          
        
               
        <div style="display:none" id="vacaciones">
            {{ form_row(edit_form.vacaciones) }}  
        </div>
        <div style="display:none" id="prestacionesSocialesGeneral">
            {{ form_row(edit_form.prestacionesSocialesGeneral) }}
        </div>
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('nomina') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
{% block script -%}
//Bloque para cerrar el porlet al inicio
//    window.onload = function() {
//        document.getElementById("Pruebaaa").click();
//    }

jQuery(document).ready(function() { 

    var plantillaValor =$('#cet_nominabundle_nomina_fk_nomina_plantilla_nomina1 option:selected').val();
    
    var ruta = "{{ path('nomina_tipo_calculo', { 'id': 'sustituir_id' }) }}";
    var rutaCorrecta = ruta.replace("sustituir_id",plantillaValor);

    $.ajax({
            type: 'post',
            url: rutaCorrecta,
            async : true,
            cache: false,
            success: function(data){
                if(data['nombre']=='Bono Vacacional'){
                    $('#vacaciones').show();
                }
                else if(data['nombre']=='Prestaciones Sociales'){                    
                    $('#prestacionesSocialesGeneral').show();                    
                }
            },
            error: function(data){ 
                alert("ERROR: "+JSON.stringify(data));
            },
            complete: function(data){
                
            }
    });


   $('#cet_nominabundle_nomina_vacaciones').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Buscar...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Buscar...'>",
            afterInit: function (ms) {
                var that = this,
                
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            selectableFooter: "<h5><b>Disponibles</b></h5>",
            selectionFooter: "<h5><b>Seleccionados</b></h5>",
        });
});

$("#cet_nominabundle_nomina_fk_nomina_plantilla_nomina1").click(function(){
    var plantillaNombre =$('#cet_nominabundle_nomina_fk_nomina_plantilla_nomina1 option:selected').text();
    var plantillaValor =$('#cet_nominabundle_nomina_fk_nomina_plantilla_nomina1 option:selected').val();
    
    var ruta = "{{ path('nomina_tipo_calculo', { 'id': 'sustituir_id' }) }}";
    var rutaCorrecta = ruta.replace("sustituir_id",plantillaValor);

    $.ajax({
            type: 'post',
            url: rutaCorrecta,
            async : true,
            cache: false,
            success: function(data){
                $('#vacaciones').hide();
                $('#prestacionesSocialesGeneral').hide();
               // $('#vacaciones').find('select').multiSelect('deselect_all');                
               // $('#prestacionesSocialesGeneral').find('select').multiSelect('deselect_all');                
                if(data['nombre']=='Bono Vacacional'){
                    $('#vacaciones').show();
                }
                else if(data['nombre']=='Prestaciones Sociales'){                    
                    $('#prestacionesSocialesGeneral').show();                    
                }
                
            },
            error: function(data){ 
                alert("ERROR: "+JSON.stringify(data));
            },
            complete: function(data){
                
            }
        });
}); 
{% endblock %}