<!DOCTYPE html>
<html><head><script>
function subst() {
  var vars={};
  var x=window.location.search.substring(1).split('&');
  for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
  var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
  var y = document.getElementsByClassName('section');  
      for(var j = 0; j < y.length; j++)  
      {  
         y[j].innerHTML = "";  
         // if current page equals total pages  
         if (vars[x[2]] != vars[x[1]])  
         {  
            y[j].innerHTML = "{{ valores.iniciales }}";  
         }  
      }  
}
</script><meta charset="UTF-8"></head><body style="border:0; margin: 0;" onload="subst()">
<table width="100%">
  <tr>
    <td align="right" width="10%"><font face="Arial" size="1"><span class="section"></span></font></td>
  </tr>
</table>
</body></html>
