{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar Nomina
{% endblock %}

{% block body -%}
<div id="salida">
    
</div>
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Nomina
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Periodo</th>
                <th>Anio</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!-- <td><a href="{{ path('nomina_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> -->
                <td>{{ entity.id }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.periodo }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.tipo }}</td>
                <td>
                <ul>
                    {% if entity.respaldos is not null %}
                        <a href="{{ path('nomina_respaldo', { 'procesar': 'nomina','idNomina': entity.id }) }}" class="btn btn-success btn-xs black"><span class=" fa fa-share"></span>&nbsp;Nómina</a>&nbsp;
                        <a href="{{ path('nomina_respaldo', { 'procesar': 'abono','idNomina': entity.id }) }}" class="btn btn-success btn-xs black"><span class=" fa fa-share"></span>&nbsp;Texto Plano</a>&nbsp;
                        <a href="{{ path('nomina_respaldo', { 'procesar': 'carta','idNomina': entity.id }) }}" class="btn btn-success btn-xs black"><span class=" fa fa-share"></span>&nbsp;Carta Banco</a>&nbsp;
                        <a href="{{ path('nomina_respaldo', { 'procesar': 'recibos','idNomina': entity.id }) }}" class="btn btn-success btn-xs black"><span class=" fa fa-share"></span>&nbsp;Recibos</a>&nbsp;                        
                    {% else %}
                    {# Si no se ha cerrado #}
                        <a href="{{ path('nomina_show_nomina', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Nómina</a>&nbsp;
                        <a href="{{ path('nomina_recibos_nomina', { 'id': entity.id,'recibos':true }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Recibos</a>&nbsp;                        
                        <a href="{{ path('nomina_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                        {% if historicoConceptos[entity.id] is null %}
                            <a href="#calculoNomina" class="btn btn-default btn-xs black" data-toggle="modal" onClick="veryLongImport({{entity.id}})"><span class=" fa fa-cogs"></span>&nbsp;Calcular</a>&nbsp;
                        {% else %}
                            <a href="{{ path('nomina_reversar', { 'id': entity.id }) }}" class="btn btn-default btn-xs black" data-toggle="modal"><span class=" fa fa-eraser"></span>&nbsp;Reversar</a>&nbsp;
                        {% endif %}
                        {# <a href="{{ path('nomina_almacenar_nomina', { 'id': entity.id , 'almacenar':true}) }}" class="btn btn-default btn-xs black"><span class=" fa fa-floppy-o"></span>&nbsp;Almacenar</a>&nbsp; #} 
                        <a href="#almacenar" data-toggle="modal" id="{{ entity.id }}" class="btn btn-default btn-xs black boton_almacenar"><span class=" fa fa-floppy-o"></span>&nbsp;Almacenar</a>&nbsp;
                    {# Si la nomina fue cerrada #}  
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
    <div id="calculoNomina" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <div id="ajax_cargador" align="center" style="display:none">
                                            <!-- <img src="{{ asset('bundles/cetnomina/assets/img/ajax_loader.gif', absolute=true)}}" align="center" /> -->
                                            <h3><table width="100%" border="0"><tr><td id="progressMessage">Iniciando Cálculo de Nómina</td></tr></table></h3>
                                            <div class="progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" id="progressValue" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    </div>
                                            </div>
                                            <h3><table width="100%" border="0"><tr><td id="progressTotal" align="right">0 de 0</td></tr></table></h3>                                            
                                      </div>
                            </div>
                            <div class="modal-body" align="right">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                                <button type="button" data-dismiss="modal" class="btn btn-success">Aceptar</button>
                            </div>
                    </div>
            </div>
    </div>    

    <div id="almacenar" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                   <h4 class="modal-title">Confirmación</h4>
               </div>
               <div class="modal-body">
                   <p>
                            ¿Realmente desea Almacenar la Nómina?  {# dump() #} 
                            <br><br>
                            <b>Recuerde</b>, una vez almacenada la nómina, la misma no podrá ser reversada. 
                            Será considerada por tanto, como <b>nómina definitiva</b>. 
                   </p>
               </div>
               <div class="modal-footer">
                   <form id="form_almacenar" action="" method="post">
                       <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                       <button type="button" data-dismiss="modal" class="btn btn-success" onclick="submit();">Si</button>
                   </form>                                                        
               </div>
           </div>
       </div>
   </div>   
                           
        <ul>
        <li>
            <a href="{{ path('nomina_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}

{% block script -%}
var isInProgress = false;

//Para pasar la variable js a twig
var ruta = "{{ path('nomina_calcular', { 'id': 'sustituir_id' }) }}";
function veryLongImport(id)
{    
    isInProgress = true;
    var rutaCorrecta = ruta.replace("sustituir_id",id);
    checkfx();
    $.ajax({
            type: 'post',
            url: rutaCorrecta,
            async : true,
            timeout: 0,
            cache: false,
            success: function(data){
                $('#progressMessage').text(data['mensaje']);
                $('#progressValue').attr("style",'width: '+data['valor']+'%');                
                $('#progressTotal').text(data['total']);
            },
            error: function(data){
                //$('#progressMessage').text(data.responseText);
                //$('#progressMessage').text(JSON.stringify(data));
                $('#progressMessage').text("Error calculando nómina (La actualización de la barra de progreso no funciona correctamente si el cliente atraviesa un proxy)");
                
                if(data.responseText != null){
                    document.getElementById('salida').innerHTML = data.responseText;
                }
                isInProgress = false;
            },
            complete: function(data){
                $('#progressMessage').text(data['mensaje']);
                $('#progressValue').attr("style",'width: 100%');                
                $('#progressTotal').text(data['total']);
                isInProgress = false;
            }
        });
}

function checkfx()
{
    if( isInProgress != false )
    {
        $('#ajax_cargador').show();
        $.ajax({
            type: 'post',
            url: '{{ path("nomina_verificar") }}',
            async : true,
            cache: false,
            success: function(data){
                //console.log("Satisfactorio");   
                //console.log(data);   
                if( isInProgress != false )
                {
                    $('#progressMessage').text(data['mensaje']);
                    $('#progressValue').attr("style",'width: '+data['valor']+'%');                
                    $('#progressTotal').text(data['total']);
                    checkfx();
                }
            },
            error: function(data){ 
                $('#progressMessage').text(data['mensaje']);
            },
            complete: function(data){
                //console.log("Completo");
                //console.log(JSON.stringify(data['mensaje']));
                //console.log(data);
                //$('#progressMessage').text(data['mensaje']);
                //$('#progressValue').attr("style",'width: '+data['valor']+'%');
                //checkfx();
            }
        });
    }
}  

//Bloque para presentar confirmación al almacenar nómina
$('.boton_almacenar').click(function(event) {
    event.preventDefault();
    var id = $(this).attr('id');
                 
    var ruta = "{{ path('nomina_almacenar_nomina', { 'id': 'sustituir_id' , 'almacenar': true}) }}";
    var rutaCorrecta = ruta.replace("sustituir_id",id);
    $('#form_almacenar')[0].setAttribute('action', rutaCorrecta);
});

{% endblock %}