{% extends '::base.html.twig' %}
{% set registros = {} %}
{% block body_title -%}

    <table width="100%">
        <tr>
            <td>
                Nómina{% if entity is defined %}: {{ entity.descripcion}} {% endif %}
            </td>
            <td align="right">                
                <a class="btn btn-lg btn-success hidden-print" href="{{ path('nomina_abono_nomina', {'id': entity.id,'abono':true}) }}" >Archivo Plano <i class="fa fa-file-text-o"></i></a>
                <a class="btn btn-lg btn-success hidden-print" href="{{ path('nomina_carta_nomina', {'id': entity.id,'carta':true}) }}" >Carta Banco <i class="fa fa-file-text-o"></i></a>
                <a class="btn btn-lg btn-primary hidden-print" href="{{ path('nomina_print_nomina', {'id': entity.id,'imprimir':true}) }}">Imprimir <i class="fa fa-print"></i></a>
            </td>
        </tr>
    </table>
{% endblock %}

{% block body -%}
    {# 
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                    <i ></i>Buscar Funcionario
            </div>
            <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body" align="center">
            <table class="table table-hover table-striped" id="Paginador">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                    </tr>
                </thead>
                <tbody>
                {% if informacion is defined %}    
                    {% for persona in informacion %}
                        <tr>
                            <td><a id="{{ persona.id }}" class="lista_recibo_id" href="#persona_{{ persona.id }}">{{ persona.id }}</a></td>
                            <td>{{ persona.primerNombre }} {{ persona.segundoNombre }}</td>
                            <td>{{ persona.primerApellido }} {{ persona.segundoApellido }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>    
    #}
        
    {% for unidadOrganizativa in root_uo %}
        {% set primera = true %}
        {% if informacion is defined %}
            {% set reciboNumero = 0 %}
            {% set hayfuncionario = false %}
            {% set abrio = false %}
            {% set funcionario = false %} 
            {% set uniorg = false %} 
            {% for ruta in rutas %}
                {% set grupo = true %}                
                {% for persona in informacion %}
                    {% set reciboNumero=reciboNumero + 1 %}
                    {% set cargo=personacargo[persona.id] %} 
                        
                    {% if cargo.iduod == unidadOrganizativa.id %} {# {{ dump(cargo.arreglo) }} #}
                        {% set hayfuncionario = true %}
                        
                        {% if primera %}
                        <div class="panel panel-primary" align="center">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <table width="100%">
                                        <tr>
                                            <td width="50%" align="left"><b>{{ cargo.uod }}</b></td>                                        
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div class="panel-body">
                            {% set primera = false %}
                        {% endif %}   
                        
                        {# Grupo por Unidad Organizativa #}                        
                        {% set primerUO = "" %}
                        {% if ruta == cargo.arreglo %}
                            {% if grupo %}
                                <div align="left">
                                {% for rutaGrupo in cargo.arreglo %}                                    
                                    <b> {{ (primerUO~rutaGrupo)|raw }} </b>
                                    {% set primerUO = " <i class='fa fa-arrow-right'></i> " %}
                                {% endfor %}
                                </div>
                                {% set grupo = false %}
                            {% endif %}                                
                            <table width="100%" class="table table-bordered table-condensed nomina" id="persona_{{ persona.id }}">  

                                {% set primero = true %}
                                {% set segundo = false %}
                                {% if persona.historicoConceptos is defined %} 
                                    <tr class="noPrint">
                                        <th align="right" width="8%">CEDULA</th>
                                        <th align="center" width="25%">APELLIDOS Y NOMBRES</th>
                                        <th align="center" width="27%" colspan="2">CONCEPTO</th>
                                        <th align="center" width="10%">ASIGNACIONES</th>
                                        <th align="center" width="10%">DEDUCCIONES</th>
                                        <th align="center" width="10%">A. PATRONAL</th>
                                        <th align="center" width="10%">SALDO/ACUM.</th>
                                    </tr>
                                    {% for conceptos in persona.historicoConceptos %} 
                                        <tr height="3px">
                                            {% if primero %}
                                                <td align="right" width="8%"><b>{{ persona.id }}</b></td>                          
                                                <td align="left" width="25%"><b>{{ persona.primerNombre }} {{ persona.segundoNombre }} {{ persona.primerApellido }} {{ persona.segundoApellido }}</b></td>  
                                            {% elseif segundo %}
                                                <td></td> 
                                                <td align="left" width="25%"><b>{{ cargo.cargo }}</b></td>
                                                {% set segundo = false %}
                                            {% else %}    
                                                <td></td>
                                                <td></td>
                                            {% endif %}    
                                                <td align="right" width="2%">
                                                    {{ "%03d"|format(conceptos.getFkHistoricoConceptoConcepto1.codigo) }}
                                                </td>
                                                <td width="25%">
                                                    {{ conceptos.getFkHistoricoConceptoConcepto1.denominacion }}
                                                </td>
                                                <td align="right" width="10%">
                                                    {% if conceptos.getFkHistoricoConceptoConcepto1.tipo == 'Asignación' %}
                                                        {{ conceptos.monto | number_format(2, ',', '.') }}
                                                    {% endif %}
                                                </td>
                                                <td align="right" width="10%">
                                                    {% if conceptos.getFkHistoricoConceptoConcepto1.tipo == 'Deducción' %}
                                                        {{ conceptos.monto | number_format(2, ',', '.') }}
                                                    {% endif %}        
                                                </td>
                                                <td align="right" width="10%">
                                                    {% if conceptos.montoPatronal != 0 %}
                                                        {{ conceptos.montoPatronal | number_format(2, ',', '.') }}
                                                    {% endif %}        
                                                </td>
                                                <td align="right" width="10%">
                                                    {% if conceptos.getFkHistoricoConceptoConcepto1.esAcumulado %}
                                                        {{ conceptos.acumulado | number_format(2, ',', '.') }}
                                                    {% endif %}     
                                                </td>
                                                {% if primero %}
                                                    {% set primero = false %}
                                                    {% set segundo = true %}
                                                {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="center" colspan="2"><b>Totales</b></td>                                    
                                    <td align="right"><b>{{ total['totalFuncionarioAsignacion'][persona.id] | number_format(2, ',', '.') }}</b></td>
                                    <td align="right"><b>{{ total['totalFuncionarioDeduccion'][persona.id] | number_format(2, ',', '.') }}</b></td>
                                    <td align="right"><b>Total Neto</b></td>
                                    <td align="right"><b>{{ total['totalFuncionarioNeto'][persona.id] | number_format(2, ',', '.') }}</b></td>
                                    {% set funcionario = true %}
                                </tr>
                            </table>  
                        {% endif %} 
                    {% endif %} 
                {% endfor %}
            {% endfor %}
                        {% if funcionario %}
                            </div> <!-- Cierra total por funcionario --> 
                            {% set funcionario = false %}  
                        {% endif %}
                        {% if hayfuncionario %}
                            {# Bloque totales de pie de pagina por Direccion #}
                            <div class="panel-footer">
                                {# Bloque detalle de conceptos por direccion #}
                                <div align="left">                                   
                                    <b> {{ (unidadOrganizativa.nombre)|raw }} </b>
                                </div>
                                <table width="100%" class="table table-bordered table-condensed nomina">  
                                    {% set primero = true %}
                                        <tr class="noPrint">
                                            <th align="center" width="10%">UNIDAD ORGANIZATIVA</th>                                        
                                            <th align="center" colspan="2">CONCEPTO</th>
                                            <th align="center" width="5%">FUNCIONARIOS</th>
                                            <th align="center" width="10%">ASIGNACIONES</th>
                                            <th align="center" width="10%">DEDUCCIONES</th>
                                            <th align="center" width="10%">A. PATRONAL</th>
                                            <th align="center" width="10%">TOTAL NETO</th>
                                        </tr>
                                        {% if total['totalDireccionConcepto']['_'~unidadOrganizativa.id] is not null %}
                                            {% for totalDireccion in total['totalDireccionConcepto']['_'~unidadOrganizativa.id]|sort %} 
                                                <tr height="3px">
                                                    {% if primero %}
                                                        {# <td align="left" width="10%" >{{ unidadOrganizativa.nombre }}</td> #}
                                                        <td align="left" width="10%" >Por Dirección</td> 
                                                    {% else %}    
                                                        <td></td>
                                                    {% endif %}    
                                                        <td align="right" width="2%">
                                                            {{ "%03d"|format(totalDireccion[0]) }}
                                                        </td>
                                                        <td>
                                                            {{ totalDireccion[1] }}
                                                        </td>
                                                        <td align="right" width="5%">
                                                            {% if totalDireccion[7] %}
                                                                {{ totalDireccion[7] }}
                                                            {% endif %}  
                                                        </td>
                                                        <td align="right" width="10%">
                                                            {% if totalDireccion[2] == 'Asignación' %}
                                                                {{ totalDireccion[3] | number_format(2, ',', '.') }}
                                                            {% endif %}
                                                        </td>
                                                        <td align="right" width="10%">
                                                            {% if totalDireccion[2] == 'Deducción' %}
                                                                {{ totalDireccion[3] | number_format(2, ',', '.') }}
                                                            {% endif %}        
                                                        </td>
                                                        <td align="right" width="10%">
                                                            {% if totalDireccion[4] != 0 %}
                                                                {{ totalDireccion[4] | number_format(2, ',', '.') }}
                                                            {% endif %}
                                                        </td>
                                                        <td align="right" width="10%">
                                                            {% if totalDireccion[6] %}
                                                                {{ totalDireccion[5] | number_format(2, ',', '.') }}
                                                            {% endif %}  
                                                        </td>
                                                        {% if primero %}
                                                            {% set primero = false %}
                                                        {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    <tr>
                                        {# Bloque totales de pie de pagina por Direccion #}
                                            <td align="center" width="60%" colspan="4"><b>TOTAL POR UNIDAD ORGANIZATIVA</b></td>
                                            <td align="right" width="10%"><b>{{ total['totalDireccionAsignacion'][unidadOrganizativa.id] | number_format(2, ',', '.') }}</b></td>
                                            <td align="right" width="10%"><b>{{ total['totalDireccionDeduccion'][unidadOrganizativa.id] | number_format(2, ',', '.') }}</b></td>
                                            <td align="right" width="10%"><b>{{ total['totalDireccionPatronal'][unidadOrganizativa.id] | number_format(2, ',', '.') }}</b></td>
                                            <td align="right" width="10%"><b>{{ total['totalDireccionNeto'][unidadOrganizativa.id] | number_format(2, ',', '.') }}</b></td>
                                            {% set uniorg = true %} 
                                        {# Bloque totales de pie de pagina por Direccion #}
                                    </tr>
                                </table>
                                {# Bloque detalle de conceptos por direccion #}
                            </div>                            
                        {% endif %}
                {% if uniorg %}
                    </div> <!-- Cierra total por Unidad Organizativa -->  
                    {% set uniorg = false %}  
                {% endif %}                
        {% endif %}
    {% endfor %}
    {# Bloque detalle de conceptos por Nomina #}
    <div class="panel panel-primary" align="center">
        <div class="panel-heading">
            <h5 class="panel-title">
                <table width="100%">
                    <tr>
                        <td width="50%" align="left"><b>NOMINA TOTAL</b></td>                                        
                    </tr>
                </table>
            </h5>
        </div>
        <div class="panel-body">
            <table width="100%" class="table table-bordered table-condensed nomina">  
                {% set primero = true %}
                    <tr class="noPrint">
                        <th align="center" width="10%" >UNIDAD ORGANIZATIVA</th>                                        
                        <th align="center" colspan="2">CONCEPTO</th>
                        <th align="center" width="5%">FUNCIONARIOS</th>
                        <th align="center" width="10%">ASIGNACIONES</th>
                        <th align="center" width="10%">DEDUCCIONES</th>
                        <th align="center" width="10%">A. PATRONAL</th>
                        <th align="center" width="10%">TOTAL NETO</th>
                    </tr>
                    {% for totalNomina in total['totalNominaConcepto']|sort %} 
                        <tr height="3px">
                            {% if primero %}
                                <td align="left" width="10%">NOMINA</td>
                            {% else %}    
                                <td></td>
                            {% endif %}    
                                <td align="right" width="2%">
                                    {{ "%03d"|format(totalNomina[0]) }}
                                </td>
                                <td>
                                    {{ totalNomina[1] }}
                                </td>
                                <td align="right" width="5%">
                                    {{ totalNomina[7] }}
                                </td>
                                <td align="right" width="10%">
                                    {% if totalNomina[2] == 'Asignación' %}
                                        {{ totalNomina[3] | number_format(2, ',', '.') }}
                                    {% endif %}
                                </td>
                                <td align="right" width="10%">
                                    {% if totalNomina[2] == 'Deducción' %}
                                        {{ totalNomina[3] | number_format(2, ',', '.') }}
                                    {% endif %}        
                                </td>
                                <td align="right" width="10%">
                                    {% if totalNomina[4] != 0 %}
                                        {{ totalNomina[4] | number_format(2, ',', '.') }}
                                    {% endif %}
                                </td>
                                <td align="right" width="10%">
                                    {% if totalNomina[6] %}
                                        {{ totalNomina[5] | number_format(2, ',', '.') }}
                                    {% endif %}                                    
                                </td>
                                {% if primero %}
                                    {% set primero = false %}
                                {% endif %}
                        </tr>
                    {% endfor %}                        
            </table>
            <table width="100%" class="table table-bordered table-condensed nomina total">
                <td align="center" width="60%" colspan="4"><b>TOTAL POR NOMINA</b></td>
                <td align="right" width="10%"><b>{{ total['totalNominaAsignacion'] | number_format(2, ',', '.') }}</b></td>
                <td align="right" width="10%"><b>{{ total['totalNominaDeduccion'] | number_format(2, ',', '.') }}</b></td>
                <td align="right" width="10%"><b>{{ total['totalNominaPatronal'] | number_format(2, ',', '.') }}</b></td>
                <td align="right" width="10%"><b>{{ total['totalNominaNeto'] | number_format(2, ',', '.') }}</b></td>
            </table>

        </div>
    </div>
    {# Bloque detalle de conceptos por Nomina #}    
    
    {# Bloque de revisiones y aprobaciones #}
    <table border="1" width="100%">
        <tr align="center">
            <td width="25%">Realizado por:</td>
            <td width="25%">Analista de Personal{% if revision.jefe2Encargado == 1 %} (E){% endif %}</td>
            <td width="25%">Jefe(a) de División General{% if revision.jefeEncargado == 1 %} (E){% endif %}</td>
            <td width="25%">Director(a){% if revision.directorEncargado == 1 %} (E){% endif %}</td>
        </tr>
        <tr height="80">
            <td colspan="4">
            </td>    
        </tr>    
        <tr align="center">
            <td width="25%"><font size=1><div style="float:center">{{ revision.usuario }}</div></font></td>
            <td width="25%"><font size=1><div style="float:center">{{ revision.jefe2 }}</div></font></td>
            <td width="25%"><font size=1><div style="float:center">{{ revision.jefe }}</div></font></td>
            <td width="25%"><font size=1><div style="float:center">{{ revision.director }}</div></font></td>
        </tr>
    </table> 
</br>
<ul class="record_actions noPrint">
    <li>
        <a href="{{ path('nomina') }}">
            Regresar a la lista
        </a>
    </li>
    {% if almacenar is defined and not almacenar %} 
        <li>
            <a href="{{ path('nomina_edit', { 'id': entity.id }) }}">
                Editar
            </a>        
        </li>
    {% endif %}
</ul>
        
{# Si la nómina fue almacenada satisfactoriamente #}
<div id="almacenar" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">
                <p>
                         <b>Nómina Definitiva </b> almacenada satisfactoriamente.
                </p>
            </div>
            <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-success">Aceptar</button>                                                   
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script -%}
    {% if almacenar is defined and almacenar %} 
        $("#almacenar").modal('show');
    {% endif %}    
{% endblock %}