{% extends '::base.html.twig' %}

{% block body_title -%}
    <table width="100%">
        <tr>
            <td>
                Recibos de Pago{% if entity is defined %}: {{ entity.descripcion}} {% endif %}
            </td>
            <td align="right">                
                <a class="btn btn-lg btn-primary hidden-print" href="{{ path('nomina_recibos', {'id': entity.id, 'recibos': true, 'imprimir':true}) }}">Imprimir todos <i class="fa fa-print"></i></a>
            </td>
        </tr>
    </table>
{% endblock %}

{% block body -%}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                    <i ></i>Buscar Funcionario
            </div>
            <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body" align="center">
            <table class="table table-hover table-striped" id="Paginador">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                    </tr>
                </thead>
                <tbody>
                {% if informacion is defined %}    
                    {% for persona in informacion %}
                        <tr>
                            <td><a id="{{ persona.id }}" class="lista_recibo_id" href="#persona_{{ persona.id }}">{{ persona.id }}</a></td>
                            <td>{{ persona.primerNombre }} {{ persona.segundoNombre }}</td>
                            <td>{{ persona.primerApellido }} {{ persona.segundoApellido }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>    
    
    {% if informacion is defined %}
        {% set reciboNumero=0 %}
        {% for persona in informacion %}
            {% set reciboNumero=reciboNumero + 1 %}
            {% set cargo=personacargo[persona.id]  %}
            <div class="panel panel-primary page-break" align="center" id="persona_{{ persona.id }}">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <table width="100%">
                            <tr>
                                <td width="50%" align="left"><b>CONTRALORÍA DEL ESTADO TÁCHIRA</b></td>
                                <td width="50%" align="right"><b>RECIBO DE PAGO:</b> {{ "%04d"|format(reciboNumero) }} <b>DEL</b> {{ entity.fecha |date('d/m/Y') }}</td>
                            </tr>
                        </table>
                    </h5>
                </div>
                <div class="panel-body">
                    <table width="100%" class="table table-bordered table-condensed">
                        <tr>
                            <td width="35%" align="left"><b>NOMBRES Y APELLIDOS</b></td>
                            <td width="10%" align="center"><b>CEDULA</b></td>
                            <td width="55%" align="center"><b>DESCRIPCIÓN DEL CARGO</b></td>
                        </tr>
                        <tr>                            
                            <td align="left">{{ persona.primerNombre }} {{ persona.segundoNombre }} {{ persona.primerApellido }} {{ persona.primerApellido }}</td>
                            <td align="center">{{ persona.id }}</td>
                            <td align="center">{{ cargo.cargo }}</td>                            
                        </tr>
                        <tr>
                            <td align="left" colspan="2">{{ cargo.uod }}</td>
                            <td align="center">{{ cargo.uo }}</td>
                        </tr>
                        <tr>                            
                            <td align="left"><b>FECHA DE INGRESO: </b>{{ persona.informacionLaboral.fechaIngreso | date('d/m/Y') }}</td>
                            <td align="center" colspan="2">{{ entity.descripcion }}</td>                            
                        </tr>
                    </table> 
                    <div class="row">
                            <div class="col-xs-12">
                                    <table class="table table-striped table-hover table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                            <th width="5%" align="center">
                                                     COD.
                                            </th>
                                            <th>
                                                     DESCRIPCIÓN DEL CONCEPTO
                                            </th>
                                            <th width="10%" align="center">
                                                     ASIGNACIONES
                                            </th>
                                            <th width="10%" align="center">
                                                     DEDUCCIONES
                                            </th>
                                            <th width="14%" align="center">
                                                     APORTE PATRONAL
                                            </th>
                                            <th width="14%" align="center">
                                                     SALDO/ACUMULADO
                                            </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if persona.historicoConceptos is defined %} 
                                        {% for conceptos in persona.historicoConceptos %} 
                                            <tr>
                                                <td align="right">
                                                    {{ "%03d"|format(conceptos.getFkHistoricoConceptoConcepto1.codigo) }}
                                                </td>
                                                <td>
                                                    {{ conceptos.getFkHistoricoConceptoConcepto1.denominacion }}
                                                </td>
                                                <td align="right">
                                                    {% if conceptos.getFkHistoricoConceptoConcepto1.tipo == 'Asignación' %}
                                                        {{ conceptos.monto | number_format(2, ',', '.') }}                                                        
                                                    {% endif %}
                                                </td>
                                                <td align="right">
                                                    {% if conceptos.getFkHistoricoConceptoConcepto1.tipo == 'Deducción' %}
                                                        {{ conceptos.monto | number_format(2, ',', '.') }}
                                                    {% endif %}        
                                                </td>
                                                <td align="right">
                                                    {% if conceptos.montoPatronal != 0 %}
                                                        {{ conceptos.montoPatronal | number_format(2, ',', '.') }}
                                                    {% endif %}        
                                                </td>
                                                <td align="right">
                                                    {% if conceptos.getFkHistoricoConceptoConcepto1.esAcumulado %}
                                                        {{ conceptos.acumulado | number_format(2, ',', '.') }}
                                                    {% endif %}     
                                                </td>
                                            </tr>   
                                        {% endfor %}
                                    {% endif %}
                                    <tr>
                                        <td align="right" colspan="2"><b>Total Conceptos:</b></td>
                                        <td align="right">{{ total['totalFuncionarioAsignacion'][persona.id] | number_format(2, ',', '.') }}</td>
                                        <td align="right">{{ total['totalFuncionarioDeduccion'][persona.id] | number_format(2, ',', '.') }}</td>
                                        <td align="right"><b>Total Neto</b></td>
                                        <td align="right">{{ total['totalFuncionarioNeto'][persona.id] | number_format(2, ',', '.') }}</td>
                                    </tr>
                                    </tbody>
                                    </table>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12">
                                <div class="well" width="100%">
                                    <table width="100%">
                                        <tr>
                                            <td width="50%">
                                                <strong>Recibí conforme:</strong>
                                                <strong>________________________________________</strong>
                                            </td>
                                            <td width="50%" align="right">
                                                <a class="btn btn-lg btn-primary hidden-print" href="{{ path('nomina_recibo', {'id': entity.id,'idPersona': persona.id,'idRecibo': reciboNumero, 'imprimir': true}) }}">Imprimir <i class="fa fa-print"></i></a>                            
                                            </td>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

<ul class="record_actions">
    <li>
        <a href="{{ path('nomina') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}

{% block script -%}

{% endblock %}