{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar InformacionLaboral
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>InformacionLaboral
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cuentanomina</th>
                <th>Cuentafideicomiso</th>
                <th>Fechaingreso</th>
                <th>Sueldo</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('informacionlaboral_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cuentaNomina }}</td>
                <td>{{ entity.cuentaFideicomiso }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.sueldo }}</td>
                <td>{{ entity.tipo }}</td>
                <td>
                <ul>                    
                    <a href="{{ path('informacionlaboral_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                    <a href="{{ path('informacionlaboral_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
        <ul>
        <li>
            <a href="{{ path('informacionlaboral_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
