{% extends '::base.html.twig' %}

{% block body_title -%}
    InformacionLaboral
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>InformacionLaboral
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Personal</th>
                <td>{{ entity.personal }}</td>
            </tr>            <tr>
                <th>Cuentanomina</th>
                <td>{{ entity.cuentaNomina }}</td>
            </tr>            <tr>
                <th>Cuentafideicomiso</th>
                <td>{{ entity.cuentaFideicomiso }}</td>
            </tr>            <tr>
                <th>Fechaingreso</th>
                <td>{{ entity.fechaIngreso|date('d-m-Y') }}</td>
            </tr>                    <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('informacionlaboral') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('informacionlaboral_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
