{% extends '::base.html.twig' %}
{% block body_title -%}
    
    <table width="100%">
        <tr>
            <td>
                Bono Vacacional{% if funcionario.id is defined %}: {{ funcionario.primerNombre }} {{ funcionario.segundoNombre }} {{ funcionario.primerApellido }} {{ funcionario.segundoApellido }} C.I.: {{ funcionario.id | number_format(0, '', '.') }} {% endif %}
            </td>
            <td align="right">          
                <a href="#almacenar" data-toggle="modal" id="{{ bono }}" class="btn btn-lg btn-success hidden-print boton_almacenar"><span class=" fa fa-floppy-o"></span>&nbsp;Almacenar</a>&nbsp;
                <a class="btn btn-lg btn-primary hidden-print" href="{{ path('vacaciones_imprimir', { 'bono': bono, 'cedula': cedula,'imprimir':true}) }}">Imprimir <i class="fa fa-print"></i></a>
            </td>
        </tr>
    </table>
{% endblock %}

{% block body -%}
    {% if funcionario.id is defined %}
        {% set cargo=personacargo[funcionario.id] %} 
        <div class="panel panel-primary" align="center">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <table width="100%" class="bonoVacacional">
                        <tr>
                            <td width="50%" align="left"><b>SOLO PARA USO DE LA DIRECCIÓN DE RECURSOS HUMANOS</b></td>                                        
                        </tr>
                    </table>
                </h5>
            </div>

            <div class="panel-body">
                <div class="container-fluid conborde" >
                    <table border="1" width="100%" class="bonoVacacional">
                        <tr>
                            <td colspan="2" width="50%">Fecha de Ingreso: <div style="float:right">{{ informacionLaboral.fechaIngreso | date('d/m/Y') }}</div></td>
                            <td colspan="2" width="50%">Adscrito(a) a: <div style="float:right">{{ cargo.uod  }}</div></td>
                        </tr>   
                        <tr>
                            <td colspan="2">Cargo: <div style="float:right">{{ cargo.cargo  }}</div></td>
                            <td colspan="2">Bono Vacacional: <div style="float:right">{{ cargo.diasbonoletra  }} ({{ cargo.diasbono }})</div></td>
                        </tr> 
                        <tr>
                            <td colspan="2">Vacaciones Vencidas: </td>
                            <td colspan="2">Período Solicitado: <div style="float:right">{{ cargo.periodo }}</div></td>
                        </tr> 
                        <tr>
                            <td width="25%">Años en Admón. Pública: </td>
                            <td width="25%">Contraloría: <div style="float:right">{{ cargo.anioscet  }}</div></td>
                            <td width="25%">Otros Org.: <div style="float:right">{{ cargo.aniosotros  }}</div></td>
                            <td width="25%">Total Años: <div style="float:right">{{ cargo.aniosservicio  }}</div></td>
                        </tr> 
                        <tr>
                            <td colspan="2">Días Hábiles de Disfrute: </td>
                            <td colspan="2"><div align="center">{{ cargo.diasDisfrute1 }} + {{ cargo.diasDisfrute2 }} = {{ cargo.diasDisfrute1 + cargo.diasDisfrute2}}
                                    {% if cargo.saldoDiasPendientes > 0 %} 
                                        + {{ cargo.saldoDiasPendientes }} (saldo días pendientes) 
                                        = {{ cargo.diasDisfrute1 + cargo.diasDisfrute2 + cargo.saldoDiasPendientes}} 
                                    {% elseif cargo.saldoDiasPendientes < 0 %}    
                                        - {{ cargo.saldoDiasPendientes|abs }} (saldo días pendientes) 
                                        = {{ cargo.diasDisfrute1 + cargo.diasDisfrute2 + cargo.saldoDiasPendientes}} 
                                    {% endif %}
                                    días hábiles</div></td>
                        </tr> 
                        <tr>
                            <td colspan="2">Disfrute del período vacacional desde: {{ cargo.desde | date('d/m/Y') }} hasta: {{ cargo.hasta | date('d/m/Y') }} </td>
                            <td colspan="2">Reincorporándose a sus labores: {{ cargo.reincorporacion | date('d/m/Y') }} a las {{ cargo.reincorporacion | date('h:i:s a') }}</td>
                        </tr> 

                        {# Bloque de cálculo #}
                        <tr>
                            <td colspan="4">
                                <table width="100%">
                                    <tr>
                                        <td align="center" colspan="4"><h5><b>CÁLCULO DE BONO VACACIONAL {{ cargo.periodo }}</b></h5></td>
                                    </tr>
                                    {% for conceptos in cargo.arreglo %}
                                        {% if conceptos[2]=='Asignación' %} 
                                            <tr>
                                                    <td align="left" width="5%">
                                                        {{ "%03d"|format(conceptos[0]) }}
                                                    </td>
                                                    <td align="left" width="65%">
                                                        {{ conceptos[1] }}
                                                    </td>
                                                    <td align="right" width="5%">
                                                        Bs.
                                                    </td>
                                                    <td align="right" width="25%">
                                                        {{ conceptos[3] | number_format(2, ',', '.') }}
                                                    </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% if cargo.arreglo is defined %}
                                        <tr>
                                            <td align="right" width="5%">
                                            </td>
                                            <td align="left" width="65%">                                                
                                                {% if cargo.totalAsignacion>0 %} 
                                                    <h6><b>TOTAL SUELDO MENSUAL PARA CÁLCULO</b></h6>
                                                {% endif %}
                                            </td>
                                            <td align="right" width="5%" style="border-top: solid #000 1px;">
                                                {% if cargo.totalAsignacion>0 %} 
                                                <b>Bs.</b>
                                                {% endif %}
                                            </td>
                                            <td align="right" width="5%" style="border-top: solid #000 1px;">
                                                {% if cargo.totalAsignacion>0 %} 
                                                <b>{{ cargo.totalAsignacion | number_format(2, ',', '.') }}</b>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </td>
                        </tr>

                        {# Bloque de totales #}
                        <tr>
                            <td colspan="4" style="padding:0px;">
                                <table width="100%" style="margin:0px;">
                                    <tr>
                                        <td  width="33%" style="border-right-style: solid; border-right-width: thin;">Sueldo Diario Bs.: <div style="float:right">{{ cargo.sueldoDiario | number_format(2, ',', '.') }}</div></td>
                                        <td  width="34%" style="border-right-style: solid; border-right-width: thin;">Días Bono Vacacional: <div style="float:right">{{ cargo.diasbono }}</div></td>
                                        <td  width="33%" style="border: solid 2px;" colspan="2"><b>Bono Vacacional Bs. <div style="float:right">{{ cargo.bonoVacacional | number_format(2, ',', '.') }}</div></b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table width="100%">
                                    <tr  height="50">
                                        {% if cargo.islrDeducido > 0.009 %}
                                            <td  width="33%">Menos: </td>
                                            <td  width="34%"><div style="float:right">I.S.L.R.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ cargo.islrPorcentaje | number_format(2, ',', '.') }}%</div></td>
                                            <td  width="33%"><div style="float:right">{{ cargo.islrDeducido | number_format(2, ',', '.') }}</div></td>
                                        {% endif %}
                                    </tr>
                                    {# Ciclo para deducciones al bono vacacional #}
                                    <tr>
                                        <td  width="33%"></td>
                                        <td  width="34%" style="border: solid 2px;" align="center"><b>Total a pagar Bs.:</b></td>
                                        <td  width="33%" style="border: solid 2px;"><b><div style="float:right">{{ cargo.totalPagar | number_format(2, ',', '.') }}</div></b></td>
                                    </tr>
                                    <tr height="20">
                                    </tr>    
                                </table>
                            </td>
                        </tr>

                        {# Bloque de revisiones y aprobaciones #}
                        <tr align="center">
                            <td width="25%">Director(a)</td>
                            <td width="25%">Jefe(a) de División</td>
                            <td width="25%">Realizado por:</td>
                            <td width="25%">Recibí conforme:</td>
                        </tr>
                        <tr height="80">
                            <td colspan="4">
                            </td>    
                        </tr>    
                        <tr align="center">
                            <td width="25%"><font size=1><div style="float:center">{{ cargo.director }}</div></font></td>
                            <td width="25%"><font size=1><div style="float:center">{{ cargo.jefe }}</div></font></td>
                            <td width="25%"><font size=1><div style="float:center">{{ cargo.usuario }}</div></font></td>                            
                            <td width="25%"><font size=1><div style="float:center">{{ cargo.funcionario|title }} C.I.: {{ funcionario.id | number_format(0, '', '.') }}</div></font></td>
                        </tr>
                    </table>                
                </div>
            </div>   
            <div class="panel-footer">
                <div align="right"><font size=1>FDRH-DR-07</font></div>
            </div>                            
        </div>
    <div id="almacenar" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                   <h4 class="modal-title">Confirmación</h4>
               </div>
               <div class="modal-body">
                   <p>
                            ¿Realmente desea Almacenar el Cálculo del Bono Vacacional?  {# dump() #} 
                            <br><br>
                            <b>Recuerde</b>, una vez almacenado, el mismo no podrá ser reversado. 
                            Será considerado por tanto, como <b>Bono Vacacional definitivo</b>. 
                   </p>
               </div>
               <div class="modal-footer">
                   <form id="form_almacenar" action="{{ path('vacaciones_almacenar', { 'bono': bono, 'cedula': cedula, 'almacenar': true }) }}" method="post">
                       <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                       <button type="button" data-dismiss="modal" class="btn btn-success" onclick="submit();">Si</button>
                   </form>                                                        
               </div>
           </div>
       </div>
   </div> 
    {% else %}
        <div>El funcionario no se encuentra registrado</div>
    {% endif %} 
        
<ul class="record_actions noPrint">
    <li>
        {% if cedula is defined %}
            <a href="{{ path('vacaciones_individual', { 'cedula': cedula }) }}">
                Regresar a la lista
            </a>
        {% else %}
            <a href="{{ path('vacaciones') }}">
                Regresar a la lista
            </a>             
        {% endif %}
    </li>
</ul>
{% endblock %}
