{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar Vacaciones
{% endblock %}

{% block body -%}
    {% if entity is defined %}
        <table class="record_actions">
            <tbody>            <tr>
                    <th><h3>Lista de Bono Vacacional de:</h3></th>
                    <td><h3><b>&nbsp;&nbsp;{{ entity.personal }}</b></h3></td>
                </tr>            <tr>
            </tbody>
        </table>
    {% endif %}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Vacaciones
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Periodo</th>
                <th>Fecha de vacaciones</th>
                <th>Monto Bono Vacacional</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vacaciones_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.periodo }}</td>
                <td>{{ entity.fecha | date('d/m/Y') }}</td>
                <td>{{ entity.bono | number_format(2, ',', '.') }}</td>
                <td>
                <ul>
                    {% if entity.respaldos is not null %}
                        <a href="{{ path('vacaciones_respaldo', { 'procesar': 'BonoVacacional','idBono': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                        
                    {% else %}
                    {# Si no se ha cerrado #}
                        <a href="{{ path('vacaciones_edit_personal', { 'id': entity.id, 'cedula': cedula }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                        <a href="{{ path('vacaciones_calcular', { 'bono': entity.id, 'cedula': cedula }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Calcular</a>&nbsp;    
                    {# Si la nomina fue cerrada #}  
                    {% endif %}
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
        <ul>
        <li>
            {% if cedula is defined %}
            <a href="{{ path('vacaciones_new_personal', { 'cedula': cedula }) }}">
                Crear nuevo registro
            </a>
            {% else %}
            <a href="{{ path('vacaciones_new') }}">
                Crear nuevo registro
            </a>                
            {% endif %}
        </li>
        <li>
            <a href="{{ path('vacaciones_personal') }}">
                Volver a la Lista de funcionarios
            </a>
        </li>
    </ul>
    {% endblock %}
