{% extends '::base.html.twig' %}

{% block body_title -%}
    Bono Vacacional
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Lista de Personal
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.primerNombre }} {{ entity.segundoNombre }}</td>
                <td>{{ entity.primerApellido }} {{ entity.segundoApellido }}</td>
                <td>
                                  
                    <a href="{{ path('vacaciones_individual', { 'cedula': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Listado de Bono Vacacional</a>&nbsp;
                    <a href="{{ path('diaspendientes_individual', { 'cedula': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Dias Pendientes</a>&nbsp;
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
