{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear Vacaciones
{% endblock %}

{% block body -%}
    <table class="record_actions">
        <tbody>            <tr>
                <th><h3>Bono Vacacional de:</h3></th>
                <td><h3><b>&nbsp;&nbsp;{{ entity.personal }}</b></h3></td>
            </tr>            <tr>
        </tbody>
    </table>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        {% if cedula is defined %}
            <a href="{{ path('vacaciones_individual', { 'cedula': cedula }) }}">
                Regresar a la lista
            </a>
        {% else %}
            <a href="{{ path('vacaciones') }}">
                Regresar a la lista
            </a>             
        {% endif %}
    </li>
</ul>
{% endblock %}

{% block script -%}
{% endblock %}