{% extends '::base.html.twig' %}

{% block body_title -%}
    Vacaciones
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Vacaciones
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Periodo</th>
                <td>{{ entity.periodo }}</td>
            </tr>            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha | date('d/M/Y')  }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    {% if cedula is defined %}
        <li>
            <a href="{{ path('vacaciones_individual', { 'cedula': cedula }) }}">
                Regresar a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('vacaciones_edit_personal', { 'id': entity.id, 'cedula': cedula }) }}">
                Editar
            </a>
        </li>
    {% endif %}
</ul>
{% endblock %}
