{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar datos de carga familiar
{% endblock %}

{% block body -%}
    <table class="record_actions">
        <tbody>            <tr>
                <th><h3>Carga familiar de:</h3></th>
                <td><h3><b>&nbsp;&nbsp;{{ entity.getFkCargaFamiliarPersonal1 }}</b></h3></td>
            </tr>            <tr>
        </tbody>
    </table>
    <div id="datospersonal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Confirmación/<h4>
                        </div>
                        <div class="modal-body">
                                <p>
                                         ¿Realmente desea eliminar el registro?  
                                </p>
                        </div>
                        <div class="modal-footer">
                                <form action="{%if entity.id is defined and entity.id != "" and edit_form is defined %}{{path('personal'~(edit_form.vars.name|lower)|replace({'cet_nominabundle_': ''})~'_delete', { 'id': entity.id })}}{%endif%}" method="post">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-success" onclick="submit();">Si</button>
                                </form>                                                        
                        </div>
                </div>
        </div>
    </div>
    
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('personal_show', { 'id': entity.getFkCargaFamiliarPersonal1.id }) }}">
           Regresar a ficha de información de personal
        </a>
    </li>
</ul>
{% endblock %}
