{% extends '::base.html.twig' %}

{% block body_title -%}
    Criterios de Reporte
{% endblock %}

{% block body -%}

    {{ form_start(form) }}
            {# render the task's only field: description #}
            {{ form_row(form.descripcion) }}
            <div align="center"><h3><b>ESTABLECER CRITERIOS</b></h3></div>
            
            {# Verificar si hay elementos en el detalle#}
            {% if form.criterios is defined and form.criterios | length > 0 %}
                <ul class="tags">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for tag in form.criterios %}
                        <li>
                            {{ form_row(tag.nombre) }}
                            {{ form_row(tag.comentario) }}
                            {{ form_row(tag.tipo) }}
                            {{ form_row(tag.valor) }}
                            {{ form_row(tag.reporte) }}
                            {# form_rest(tag) #}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}                                
                <ul class="tags">
                    {{ form_widget(form.criterios) }}
                </ul>                
            {% endif %}            
        {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reporte') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}