{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear Reporte
{% endblock %}

{% block body -%}

        {{ form_start(form) }}
            {# render the task's only field: description #}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.dql) }}
            <div align="center"><h3>CRITERIOS</h3></div>
            
            {# Verificar si hay elementos en el detalle#}
            {% if form.criterios is defined and form.criterios | length > 0 %}
                <ul class="tags" data-prototype="{{ form_widget(form.criterios.vars.prototype)|e }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for tag in form.criterios %}
                        <li>
                            {{ form_row(tag.nombre) }}
                            {{ form_row(tag.valor) }}
                            {{ form_row(tag.comentario) }}
                            {{ form_row(tag.tipo) }} 
                            {{ form_row(tag.reporte) }}
                            {# form_rest(tag) #}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}                                
                <ul class="tags" data-prototype="{{ form_widget(form.criterios.vars.prototype)|e }}">
                    {{ form_widget(form.criterios) }}
                </ul>                
            {% endif %} 
        {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reporte') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}

{% block script -%}
var $collectionHolder;

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Agregar Criterio</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.tags');

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    
    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
        
        //Cargo los selects con buscador
        $("select.select2me").select2();
    });    
});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    addTagFormDeleteLink($newFormLi);

}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Eliminar Criterio</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });    
}
{% endblock %}