{% extends '::base.html.twig' %}

{% block body_title -%}
    REPORTE: {{ entity.descripcion }}
    {% if titulos is defined %}
        {% for clave,valor in titulos %}
            </br>{{ clave }}  = {{ valor }}
        {% endfor %}    
    {% endif %}
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Reporte
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                {% for columna in columnas %}
                    <th>{{ columna }}</th>                
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for valor in entity %}
                    <td>
                        {{ valor }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
        <ul>
        <li>
            <a href="{{ path('reporte') }}">
                Regresar a la lista
            </a>
        </li>
    </ul>
    {% endblock %}
