{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar Archivo
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Archivo
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="Paginador">
                <thead>            
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Tamaño</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.tipo }}</td>
                        <td>{{ entity.tamanio }}</td>
                        <td>
                                &nbsp;<a href="{{ path('archivo_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>
                                &nbsp;<a href="{{ path('archivo_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
        <ul>
        <li>
            <a href="{{ path('archivo_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
