{% extends '::base.html.twig' %}

{% block body_title -%}
    Archivo
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Archivo
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre del archivo</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Ruta del archivo</th>
                <td>{{ entity.ruta }}</td>
            </tr>
            <tr>
                <th>Tipo de archivo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Tamaño en bytes</th>
                <td>{{ entity.tamanio }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('archivo') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('archivo_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
