{% extends '::base.html.twig' %}

{% block body_title -%}
    Reposo
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Reposo
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Fechainicio</th>
                <td>{{ entity.fechaInicio|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Fechafinal</th>
                <td>{{ entity.fechaFinal|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Dias</th>
                <td>{{ entity.dias }}</td>
            </tr>            <tr>
                <th>Diagnostico</th>
                <td>{{ entity.diagnostico }}</td>
            </tr>            <tr>
                <th>Interruptor</th>
                <td>{{ entity.interruptor }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('reposo', { 'cedula': cedula }) }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('reposo_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
