<!DOCTYPE html>
<html><head><script>
function subst() {
  var vars={};
  var x=window.location.search.substring(1).split('&');
  for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
  var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
  for (var i in x) {
    var y = document.getElementsByClassName(x[i]);
    for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
  }
}
</script><meta charset="UTF-8"></head><body style="border:0; margin: 0;" onload="subst()">
<table width="100%">
  <tr>
    <!--<td align="left" width="35%"><font face="Arial" size="3">{{ valores.institucion }}</font></td>-->
    <td align="left" rowspan="2" width="18%"> <img src="{{ asset('bundles/cetnomina/assets/img/logorif.jpg', absolute=true)}}" alt="logo" class="img-responsive"/> </td>
    <td align="center" ><font face="Arial" size="2">{{ valores.plantilla }}</font></td>
    <td align="right" width="10%"><font face="Arial" size="2">{{ valores.fecha }}</font></td>
    <td style="text-align:right" width="10%">
      <font face="Arial" size="1" >Pág. <span class="page"></span> de <span class="topage"></span></font>
    </td>
  </tr>
  <tr>
  </tr>
  <tr>
      <td align="center" colspan="4"><font face="Arial" size="3">{{ valores.nomina }}</font></td>    
  </tr>
</table>
<table class="table table-bordered table-condensed" style="border-bottom: 1px solid black;" width="100%">
  <tr>
    <td align="center" width="3%"><font face="Arial" size="1">Nro.</font></td>
    <td align="center" width="8%"><font face="Arial" size="1">CEDULA</font></td>
    <td align="center" width="35%"><font face="Arial" size="1">APELLIDOS Y NOMBRES</font></td>
    <td align="center" width="8%"><font face="Arial" size="1">FECHA INGRESO</font></td>
    <td align="center" width="16%"><font face="Arial" size="1">CTA. BANCARIA</font></td>
    <td align="center" width="4%"><font face="Arial" size="1">DIAS</font></td>
    <td align="center" width="11%"><font face="Arial" size="1">PRESTACIONES</font></td>    
    <td align="center" width="4%"><font face="Arial" size="1">DIAS ADIC.</font></td>
    <td align="center" width="11%"><font face="Arial" size="1">PRESTACIONES ADIC.</font></td>
  </tr>
</table>
</body></html>
