{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar Prestaciones Sociales General
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Prestaciones Sociales General
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('prestacionessocialesgeneral_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>                    
                    <a href="{{ path('prestacionessocialesgeneral_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;
                    <a href="{{ path('prestacionessocialesgeneral_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                    {#<a href="{{ path('prestacionessocialesgeneral_calcular', { 'id': entity.id }) }}" class="btn btn-default btn-xs black boton_calcular"><span class=" fa fa fa-cogs"></span>&nbsp;Calcular</a>&nbsp;#}
                    {% if prestacionesCalculadas[entity.id] is null %}
                        <a href="#calcular" id="{{ entity.id }}" class="btn btn-default btn-xs black boton_calcular" data-toggle="modal"><span class=" fa fa fa-cogs"></span>&nbsp;Calcular</a><span id="espacio_{{ entity.id }}" >&nbsp;</span>
                        <a href="{{ path('prestacionessocialesgeneral_reversar', { 'id': entity.id }) }}" id="borrar_{{ entity.id }}" class="btn btn-default btn-xs black" style="display:none"><span class=" fa fa-eraser"></span>&nbsp;Reversar</a>&nbsp;
                    {% else %}
                        <a href="#calcular" id="{{ entity.id }}" class="btn btn-default btn-xs black boton_calcular" data-toggle="modal" style="display:none"><span class=" fa fa fa-cogs"></span>&nbsp;Calcular</a><span id="espacio_{{ entity.id }}" style="display:none">&nbsp;</span>
                        <a href="{{ path('prestacionessocialesgeneral_reversar', { 'id': entity.id }) }}" id="borrar_{{ entity.id }}" class="btn btn-default btn-xs black" ><span class=" fa fa-eraser"></span>&nbsp;Reversar</a>&nbsp;
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
<div id="calcular" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h2 class="modal-title" align="center">Calculando Prestaciones Sociales</h2>
                </div>
                <div class="modal-body" id="cuerpo_modal">                        
                     <div id="loader1" align="center" style="display:none">
                        <img src="{{ asset('bundles/cetnomina/assets/img/ajax_loader.gif', absolute=true)}}" align="center" />
                    </div> 
                    <div id="bloque_resultado_calcular" style="display:none">
                        <h1 id="resultado_calcular"></h1>
                    </div>
                </div>
                <p>    
                <div class="form-actions fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-8 col-md-9">  
                                <input type="button" class="btn btn-err" id="boton_cerrar" value="Cancelar" data-dismiss="modal"/>
                                <input type="button" class="btn btn-success" id="boton_ver" value="Aceptar" data-dismiss="modal"/>   
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>                    
                    
        <ul>
        <li>
            <a href="{{ path('prestacionessocialesgeneral_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
{% endblock %}

{% block script -%}
    
//Para pasar la variable js a twig
var ruta = "{{ path('prestacionessocialesgeneral_calcular', { 'id': 'sustituir_id' }) }}"
    
//Bloque para calcular prestaciones sociales
$(".boton_calcular").click(function(event) {
    event.preventDefault();
    var rutaCorrecta = ruta.replace("sustituir_id",$(this).attr('id'));
    var id = $(this).attr('id');
    
    $('#bloque_resultado_calcular').hide();
    var data_input = {
        id: $(this).attr('id'),
    };
    $('#loader1').show();
    $('#espacio_'+id).hide();
    $('#borrar_'+id).show();    
    $(this).hide();
    $.ajax({
        type: 'post',        
        url: rutaCorrecta,
        data : data_input,
        success :  function(data_output){
            $('#loader1').hide();
            $('#resultado_calcular').text("Cálculo de Prestaciones Sociales realizado con éxito");
            $('#bloque_resultado_calcular').show();
        },
        error : function(data_output){
            $('#loader1').hide();
            $('#resultado_calcular').text("Error");
            if(data_output.responseText != null){
                document.getElementById('resultado_calcular').innerHTML = data_output.responseText;
            }
            $('#bloque_resultado_calcular').show();
        }
    });
});

{% endblock %}