{% extends '::base.html.twig' %}

{% block body_title -%}
    <table width="100%">
        <tr>
            <td>
                Prestaciones Sociales{% if entity is defined %}: {{ entity.descripcion }} {% endif %}
            </td>
            <td align="right">                
                {#<a class="btn btn-lg btn-success hidden-print" href="{{ path('nomina_abono_nomina', {'id': entity.id,'abono':true}) }}" >Alacenar <i class="fa fa-file-text-o"></i></a>#}
                <a class="btn btn-lg btn-primary hidden-print" href="{{ path('prestacionessocialesgeneral_imprimir', {'id': entity.id,'imprimir':true}) }}">Imprimir <i class="fa fa-print"></i></a>
            </td>
        </tr>
    </table>
{% endblock %}

{% block body -%}
<div class="portlet  prestaciones">
    <div class="portlet-title">
        <div class="caption">
            <i ></i><b>PRESTACIONES SOCIALES</b> 
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center"> 
    {% set numero = 0 %}
    {% for persona in personas %}
        {% set numero = numero + 1 %}
        <table width="100%" class="table table-bordered table-condensed prestaciones" id="persona_{{ persona.cedula }}">
            <tr>
                <td align="rigth" width="3%">
                    {{ "%03d"|format(numero) }}
                </td>
                <td align="rigth" width="8%">
                    <b>{{ persona.cedula | number_format(0, ',', '.') }}</b>
                </td>
                <td align="left" width="35%">
                    <b>{{ persona.nombre }}</b>
                </td>
                <td align="right" width="8%">
                    {{ persona.fechaIngreso | date('d-m-Y') }}
                </td>
                <td align="right" width="16%">
                    {{ persona.cuentaBancaria }}
                </td>
                <td align="right" width="4%">
                    {{ persona.diasTrimestre }}
                </td>
                <td align="right" width="11%">
                    {{ persona.prestaciones | number_format(2, ',', '.') }}
                </td>
                <td align="right" width="4%">
                    {{ persona.diasAdicionales }}
                </td>
                <td align="right" width="11%">
                    {{ persona.prestacionesAdicionales | number_format(2, ',', '.') }}
                </td>
            </tr>
        </table>
        <table width="100%" class="table table-bordered table-condensed prestaciones">
            <tr>
                <td align="right" width="3%" style="display:none">
                    {{ "%03d"|format(numero) }}
                </td>
                <td align="right" width="13%">
                    Ingreso DIARIO:
                </td>
                <td align="right" width="7%">
                    {{ persona.ingresoDiario | number_format(2, ',', '.') }}
                </td>
                <td align="right" width="20%">
                    Alíc.Diaria  BONO VACACIONAL:
                </td>
                <td align="right" width="7%">
                    {{ persona.alicotaBonoVacacional | number_format(2, ',', '.') }}
                </td>
                <td align="right" width="18%">
                    Alíc.Diaria  AGUINALDOS:
                </td>
                <td align="right" width="7%">
                    {{ persona.alicotaAguinaldos | number_format(2, ',', '.') }}
                </td>
                <td align="right" width="16%">
                    Prestación DIARIA:
                </td>
                <td align="right" width="9%">
                    {{ persona.prestacionesDiaria | number_format(2, ',', '.') }}
                </td>
            </tr>
        </table>
        <table width="100%" class="table table-bordered table-condensed prestaciones">      
            
            {% for arreglo in persona.conceptos %}
            <tr>
                {% for concepto in arreglo%}
                    {% if loop.index % 2 != 0%}
                        <td align="left" style="display: inline-block;">
                            Cod
                            <br/>
                            {{ concepto }}
                        </td>
                    {% else %}
                        <td align="right" style="display: inline-block;">
                            Bs/Diario
                            <br/>
                            {{ concepto | number_format(2, ',', '.') }}
                        </td>
                    {% endif %}
                {% endfor %}                
            </tr>            
            {% endfor %}
        </table>
    </br>
    {% endfor %}
    </div>
</div>
<div class="portlet prestaciones">
    <div class="portlet-title">
        <div class="caption">
            <i ></i><b>RESUMEN DE CONCEPTOS</b> 
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center"> 
        <table width="100%" class="table table-bordered table-condensed prestaciones">
            <tr>
                <th align="center" width="20%" >COD. CONCEPTO</th>                                        
                <th align="center" width="60%">DESCRIPCIÓN CONCEPTO</th>
                <th align="center" width="20%">MONTO (Bs.)</th>             
            </tr>
            {% for resumen in arreglo %}
                <tr>
                    <td align="left">{{ resumen[0] }}</td>
                    <td align="left">{{ resumen[1] }}</td>
                    <td align="right">{{ resumen[2] | number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}  
        </table>
    </div>
</div>
<div class="portlet prestaciones">
    <div class="portlet-title">
        <div class="caption">
            <i ></i><b>TOTALES</b>
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center"> 
        <table width="100%" class="table table-bordered table-condensed prestaciones">
            <tr>
                <th align="center" width="20%" >CANT. FUNC.</th>                                        
                <th align="center" width="20%">CANT. FUNC. ADIC.</th>
                <th align="center" width="20%">TOTAL PRESTACIONES</th>
                <th align="center" width="20%">TOTAL PRESTACIONES ADIC.</th>
                <th align="center" width="20%">TOTAL</th>                
            </tr>
            <tr>
                <td align="right" width="20%"><b>{{ totales['funcionarios'] | number_format(0, '', '.') }}</b></td>
                <td align="right" width="20%"><b>{{ totales['funcionariosAdicionales'] | number_format(0, '', '.') }}</b></td>
                <td align="right" width="20%"><b>{{ totales['prestaciones'] | number_format(2, ',', '.') }}</b></td>
                <td align="right" width="20%"><b>{{ totales['prestacionesAdicionales'] | number_format(2, ',', '.') }}</b></td>
                <td align="right" width="20%"><b>{{ totales['total'] | number_format(2, ',', '.') }}</b></td>
            </tr>
        </table>
    </div>
</div>
    
{# Bloque de revisiones y aprobaciones #}
<table border="1" width="100%" class="prestaciones">
    <tr align="center">
        <td width="25%">Realizado por:</td>
        <td width="25%">Analista de Personal{% if revision.jefe2Encargado == 1 %} (E){% endif %}</td>
        <td width="25%">Jefe(a) de División{% if revision.jefeEncargado == 1 %} (E){% endif %}</td>
        <td width="25%">Director(a){% if revision.directorEncargado == 1 %} (E){% endif %}</td>
    </tr>
    <tr height="80">
        <td colspan="4">
        </td>    
    </tr>    
    <tr align="center">
        <td width="25%"><font size=1><div style="float:center">{{ revision.usuario }}</div></font></td>
        <td width="25%"><font size=1><div style="float:center">{{ revision.jefe2 }}</div></font></td>
        <td width="25%"><font size=1><div style="float:center">{{ revision.jefe }}</div></font></td>
        <td width="25%"><font size=1><div style="float:center">{{ revision.director }}</div></font></td>
    </tr>
</table> 
</br>
        <ul class="record_actions noPrint">
    <li>
        <a href="{{ path('prestacionessocialesgeneral') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('prestacionessocialesgeneral_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
