{% form_theme form _self %}
{% extends '::base.html.twig' %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ name }}"
        {%- if read_only %} readonly="readonly"{% endif -%}
        {%- if disabled %} disabled="disabled"{% endif -%}
        {%- if required %} required="required"{% endif -%}
        {%- if max_length %} maxlength="{{ max_length }}"{% endif -%}
        {%- if pattern %} pattern="{{ pattern }}"{% endif -%}
        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title'] -%}
                {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrvalue is sameas(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not sameas(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <div class="portlet col-md-offset-3 col-md-6">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>Formulario
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body form">          
            <form name="{{ form.vars.name }}" method="{{ form_method|lower }}" class="form-horizontal form-bordered" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
            {% if form_method != method %}
                <input type="hidden" name="_method" value="{{ method }}" />
            {% endif %}                
{% endspaceless %}
{% endblock form_start %}
    
{% block body_title -%}
    <h1 class="title">Credenciales de Acceso</h1>
{% endblock %}

{% block body -%}
    {% if error %}
        <div class="alert alert-danger display-none" style="display: block;">
                <button class="close" data-close="alert"></button>
                <ul>
                    <li>{{error.message|trans({},'messages')}}</li>                    
                </ul>
        </div> 
    {% endif %}               
{{form(form)}}
{% endblock %}

