{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Usuario
{% endblock %}

{% block body -%}
    <table class="record_actions">
        <tbody>            <tr>
                <th><h3>Usuario del Funcionario:</h3></th>
                <td><h3><b>&nbsp;&nbsp;{{ entity.personal }}</b></h3></td>
            </tr>            <tr>
        </tbody>
    </table>
{{ form_start(edit_form) }}
    {# render the task's only field: description #}
    {{ form_row(edit_form.persLoginu) }}
    {{ form_row(edit_form.persPasswdmd5) }}
    {% if edit_form.personal is defined %}
        {{ form_row(edit_form.personal) }}
    {% endif %}
    <div align="center"><h3>ACCESOS</h3></div>
    <ul class="tags" data-prototype="{{ form_widget(edit_form.personalSistemas.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in edit_form.personalSistemas %}
            <li>
                {{ form_row(tag.idSistema) }}
                {% if tag.idUsuario is defined %}
                    {{ form_row(tag.idUsuario) }}
                {% endif %}                
                {{ form_row(tag.nivel) }}
                {{ form_row(tag.acceso) }}
            </li>
        {% endfor %}
    </ul>
{{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('userpersonalm') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}

{% block script -%}
var $collectionHolder;

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Agregar Acceso</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.tags');

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    
    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });
});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Eliminar Acceso</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
{% endblock %}