{% extends '::base.html.twig' %}

{% block body_title -%}
    userPersonalM
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>userPersonalM
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Persnombr1</th>
                <td>{{ entity.persNombr1 }}</td>
            </tr>            <tr>
                <th>Persnombr2</th>
                <td>{{ entity.persNombr2 }}</td>
            </tr>            <tr>
                <th>Persapell1</th>
                <td>{{ entity.persApell1 }}</td>
            </tr>            <tr>
                <th>Persapell2</th>
                <td>{{ entity.persApell2 }}</td>
            </tr>            <tr>
                <th>Perscedula</th>
                <td>{{ entity.persCedula }}</td>
            </tr>            <tr>
                <th>Persnacion</th>
                <td>{{ entity.persNacion }}</td>
            </tr>            <tr>
                <th>Persdirdom</th>
                <td>{{ entity.persDirdom }}</td>
            </tr>            <tr>
                <th>Persloginu</th>
                <td>{{ entity.persLoginu }}</td>
            </tr>            <tr>
                <th>Perspasswd</th>
                <td>{{ entity.persPasswd }}</td>
            </tr>            <tr>
                <th>Perscargou</th>
                <td>{{ entity.persCargou }}</td>
            </tr>            <tr>
                <th>Persemail</th>
                <td>{{ entity.persEMail }}</td>
            </tr>            <tr>
                <th>Persavatar</th>
                <td>{{ entity.persAvatar }}</td>
            </tr>            <tr>
                <th>Persfecin</th>
                <td>{{ entity.persFecIn|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Persstatus</th>
                <td>{{ entity.persStatus }}</td>
            </tr>            <tr>
                <th>Persfecreg</th>
                <td>{{ entity.persFecreg|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Persdirecc</th>
                <td>{{ entity.persDirecc }}</td>
            </tr>            <tr>
                <th>Divisionid</th>
                <td>{{ entity.divisionId }}</td>
            </tr>            <tr>
                <th>Departamentoid</th>
                <td>{{ entity.departamentoId }}</td>
            </tr>            <tr>
                <th>Perspasswdmd5</th>
                <td>{{ entity.persPasswdmd5 }}</td>
            </tr>            <tr>
                <th>Funcionario</th>
                <td>{{ entity.funcionario }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('userpersonalm') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('userpersonalm_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
