{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear Concepto
{% endblock %}
{% block body -%}
    {{ form(form) }}
   
        <ul class="record_actions">
    <li>
        <a href="{{ path('concepto') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
{% block script -%}
var currentFocus = null;
$('#cet_nominabundle_concepto_sql,#cet_nominabundle_concepto_formulaPatronal').focus(function() { 
    currentFocus = this; 
});     
jQuery(":not(#cet_nominabundle_concepto_sql,#cet_nominabundle_concepto_formulaPatronal,#cet_nominabundle_concepto_Variable,#cet_nominabundle_concepto_Concepto,#cet_nominabundle_concepto_Sintaxis)" ).focus(function() { 
    currentFocus = null;
});    

//Bloque para transcribir entidades al campo SQL
$("#cet_nominabundle_concepto_Variable").click(function(){
    var variable=$('#cet_nominabundle_concepto_Variable').find('option:selected').text()
    //$('#cet_nominabundle_concepto_sql').val($('#cet_nominabundle_concepto_sql').val() + variable + " ");
    currentFocus['value']=currentFocus['value'] + variable + " ";
    document.getElementById(currentFocus['id']).focus();    
}); 

//Bloque para transcribir entidades al campo SQL
$("#cet_nominabundle_concepto_Concepto").click(function(){
    var concepto=$('#cet_nominabundle_concepto_Concepto').find('option:selected').text()
    //$('#cet_nominabundle_concepto_sql').val($('#cet_nominabundle_concepto_sql').val() + concepto + " ");
    currentFocus['value']=currentFocus['value'] + concepto + " ";
    document.getElementById(currentFocus['id']).focus();       
}); 

//Bloque para transcribir palabras clave al campo SQL
$("#cet_nominabundle_concepto_Sintaxis").click(function(){
    var sintaxix=$('#cet_nominabundle_concepto_Sintaxis').find('option:selected').text()
    //$('#cet_nominabundle_concepto_sql').val($('#cet_nominabundle_concepto_sql').val() + sintaxix + " ");  
    currentFocus['value']=currentFocus['value'] + sintaxix + " ";
    document.getElementById(currentFocus['id']).focus();    
}
); 

//Bloque para realizar pruebas de conceptos
$("a.lista_personal_id").click(function(event) {
    event.preventDefault();
    var data_input = {
        id_personal: $(this).attr('id'),        
        identificador_concepto: $('#cet_nominabundle_concepto_identificador').val(),        
        php_concepto: $('#cet_nominabundle_concepto_sql').val(),
        nombre_concepto:  $('#cet_nominabundle_concepto_denominacion').val(),
    };
    $('#bloque_resultado_variable').hide(); 
    $('#ajax_loader').show();
    $.ajax({
        type: 'post',
        url: '{{ path("concepto_prueba") }}',
        data : data_input,
        success :  function(data_output){
            $("#cedula_funcionario").text("CEDULA FUNCIONARIO: " + data_input.id_personal);
            $("#nombre_variable").text("CONCEPTO: " + data_input.nombre_concepto);
            $("#resultado_variable").text("RESULTADO: " + data_output);
            $('#ajax_loader').hide();
            $('#bloque_resultado_variable').show(); 
        },
        error : function(data_output){
            $('#ajax_loader').hide();
            $("#resultado_variable").text("!ERROR¡");
        }
    });
}); 

//Bloque para agregar campo de formula de aporte patronal
$("#cet_nominabundle_concepto_patronal").change(function(){
    //cadena+="<div id='formula_aporte'><textarea id='cet_nominabundle_concepto_sql' name='cet_nominabundle_concepto[sql]' help='Ingrese fórmula del concepto' class='form-control'></textarea><span class='help-block'>Ingrese fórmula para el cálculo del aporte patronal del concepto</span></div>";
    if(document.getElementById ("cet_nominabundle_concepto_patronal").checked){
        var elem1 = document.createElement("textarea");
        var att1 = document.createAttribute("id");
        att1.value = "cet_nominabundle_concepto_formulaPatronal";
        var att2 = document.createAttribute("name");
        att2.value = "cet_nominabundle_concepto[formulaPatronal]";
        var att3 = document.createAttribute("class");
        att3.value = "form-control cet_nominabundle_concepto_formulaPatronaltextarea";        
        elem1.setAttributeNode(att1);
        elem1.setAttributeNode(att2);
        elem1.setAttributeNode(att3);
        
        var elem2 = document.createElement("span");
        var elem2texto = document.createTextNode("Ingrese fórmula para el cálculo del aporte patronal del concepto");
        var att4 = document.createAttribute("class");
        att4.value = "help-block";
        var att5 = document.createAttribute("id");
        att5.value = "aporte_ayuda";
        elem2.setAttributeNode(att4);
        elem2.setAttributeNode(att5);
        elem2.appendChild(elem2texto);

        var padre = document.getElementById("uniform-cet_nominabundle_concepto_patronal").parentNode;
        padre.appendChild(elem1);
        padre.appendChild(elem2);
        $('#cet_nominabundle_concepto_formulaPatronal').focus(function() { 
            currentFocus = this; 
        }); 
    }
    else{
        var padre = document.getElementById ("uniform-cet_nominabundle_concepto_patronal").parentNode;
        var elem1 = document.getElementById ("cet_nominabundle_concepto_formulaPatronal");
        var elem2 = document.getElementById("aporte_ayuda");
        padre.removeChild(elem1);
        padre.removeChild(elem2);
        $('#cet_nominabundle_concepto_formulaPatronal').focus(function() {         
        });  
    }    
}); 

//$(document).on('change', '.cet_nominabundle_concepto_formulaPatronaltextarea', function(){    
//    var valor = $('.cet_nominabundle_concepto_formulaPatronaltextarea').val();
//    jQuery("#cet_nominabundle_concepto_formulaPatronal:not(.cet_nominabundle_concepto_formulaPatronaltextarea)").val(valor);
//});

//Bloque para campo de multiseleccion
jQuery(document).ready(function() { 
   $('#cet_nominabundle_concepto_fk_concepto_has_concepto2').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Buscar...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Buscar...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            selectableFooter: "<h5><b>Disponibles</b></h5>",
            selectionFooter: "<h5><b>Seleccionados</b></h5>",
        });
});

{% endblock %}
