{% extends '::base.html.twig' %}

{% block body_title -%}
    Concepto
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Concepto
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Codigo</th>
                <td>{{ "%03d"|format(entity.codigo) }}</td>
            </tr>            
            <tr>
                <th>Denominación</th>
                <td>{{ entity.denominacion }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>            <tr>
                <th>Fórmula</th>
                <td>{{ entity.sql }}</td>
            </tr>            <tr>
                <th>Fechainicia</th>
                <td>{{ entity.fechaInicia|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Fechafin</th>
                <td>{{ entity.fechaFin|date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('concepto') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('concepto_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
