{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar PrestacionesSociales
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>PrestacionesSociales
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Dias</th>
                <th>Prestaciones</th>
                <th>Diasadicionales</th>
                <th>Prestacionesadicionales</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('prestacionessociales_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.dias }}</td>
                <td>{{ entity.prestaciones }}</td>
                <td>{{ entity.diasAdicionales }}</td>
                <td>{{ entity.prestacionesAdicionales }}</td>
                <td>
                <ul>                    
                    <a href="{{ path('prestacionessociales_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                    <a href="{{ path('prestacionessociales_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
        <ul>
        <li>
            <a href="{{ path('prestacionessociales_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
