{% extends '::base.html.twig' %}

{% block body_title -%}
    PrestacionesSociales
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>PrestacionesSociales
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Dias</th>
                <td>{{ entity.dias }}</td>
            </tr>            <tr>
                <th>Prestaciones</th>
                <td>{{ entity.prestaciones }}</td>
            </tr>            <tr>
                <th>Diasadicionales</th>
                <td>{{ entity.diasAdicionales }}</td>
            </tr>            <tr>
                <th>Prestacionesadicionales</th>
                <td>{{ entity.prestacionesAdicionales }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('prestacionessociales') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('prestacionessociales_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
