{% extends '::base.html.twig' %}

{% block body_title -%}
    Estudio
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Estudio
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>            <tr>
                <th>Duracion</th>
                <td>{{ entity.duracion }}</td>
            </tr>            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>            <tr>
                <th>Fechainicio</th>
                <td>{{ entity.fechaInicio|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Fechaculminacion</th>
                <td>{{ entity.fechaCulminacion|date('d-m-Y') }}</td>
            </tr>            <tr>
                <th>Institucion</th>
                <td>{{ entity.institucion }}</td>
            </tr>            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('estudio') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('estudio_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
