{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Datos Genericos
{% endblock %}

{% block body -%}
    {% if entity is defined %}
        {% if entity.getFkDatosGenericosPersonal1().Id is defined %}
             <table class="record_actions">
            <tbody>            <tr>
                    <th><h3>Datos Genericos de:</h3></th>
                    <td><h3><b>&nbsp;&nbsp;{{ entity.getFkDatosGenericosPersonal1() }}</b></h3></td>
                </tr>            <tr>
            </tbody>
            </table>
        {% endif %}
    {% endif %}
    {{ form(edit_form) }}
    <div id="datospersonal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Confirmación/<h4>
                        </div>
                        <div class="modal-body">
                                <p>
                                         ¿Realmente desea eliminar el registro?  
                                </p>
                        </div>
                        <div class="modal-footer">
                                <form action="{%if entity.id is defined and entity.id != "" and edit_form is defined %}{{path('personal'~(edit_form.vars.name|lower)|replace({'cet_nominabundle_': ''})~'_delete', { 'id': entity.id })}}{%endif%}" method="post">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-success" onclick="submit();">Si</button>
                                </form>                                                        
                        </div>
                </div>
        </div>
    </div>
        <ul class="record_actions">
    <li>
        {% if entity is defined %}
            {% if entity.getFkDatosGenericosPersonal1().Id is defined %}
                <a href="{{ path('personaldatosgenericos_lista', { 'id': entity.getFkDatosGenericosPersonal1().Id }) }}">
                    Regresar a la lista de datos genericos de {{ entity.getFkDatosGenericosPersonal1() }}
                </a>
            {% else %}
                <a href="{{ path('datosgenericos') }}">
                    Regresar a la lista
                </a>
            {% endif %}
        {% endif %}
    </li>
</ul>
{% endblock %}
