{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear Datos Genericos
{% endblock %}

{% block body -%}
    {% if entity is defined %}
        {% if entity.getFkDatosGenericosPersonal1().Id is defined %}
             <table class="record_actions">
            <tbody>            <tr>
                    <th><h3>Datos Genericos de:</h3></th>
                    <td><h3><b>&nbsp;&nbsp;{{ entity.getFkDatosGenericosPersonal1() }}</b></h3></td>
                </tr>            <tr>
            </tbody>
            </table>
        {% endif %}
    {% endif %}
    
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        {% if entity is defined %}
            {% if entity.getFkDatosGenericosPersonal1().Id is defined %}
                <a href="{{ path('personaldatosgenericos_lista', { 'id': entity.getFkDatosGenericosPersonal1().Id }) }}">
                    Regresar a la lista de datos genericos de {{ entity.getFkDatosGenericosPersonal1() }}
                </a>
            {% else %}
                <a href="{{ path('datosgenericos') }}">
                    Regresar a la lista
                </a>
            {% endif %}
        {% endif %}
    </li>
</ul>
{% endblock %}