{% extends '::base.html.twig' %}

{% block body_title -%}
    Datos Genericos
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Datos Genericos
                {% if entity is defined %}
                {% if entity.getFkDatosGenericosPersonal1().Id is defined %}
                     <table class="record_actions">
                    <tbody>            <tr>
                            <th><h3>Datos Genericos de:</h3></th>
                            <td><h3><b>&nbsp;&nbsp;{{ entity.getFkDatosGenericosPersonal1() }}</b></h3></td>
                        </tr>            <tr>
                    </tbody>
                    </table>
                {% endif %}
                {% endif %}
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Tipo</th>
                <td>{{ entity.getFkDatoGenericoTipoDatoGenerico1() }}</td>
            </tr>            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
            <li>
                {% if entity is defined %}
                    {% if entity.getFkDatosGenericosPersonal1().Id is defined %}
                        <a href="{{ path('personaldatosgenericos_lista', { 'id': entity.getFkDatosGenericosPersonal1().Id }) }}">
                            Regresar a la lista de datos genericos de {{ entity.getFkDatosGenericosPersonal1() }}
                        </a>
                    {% else %}
                        <a href="{{ path('datosgenericos') }}">
                            Regresar a la lista
                        </a>
                    {% endif %}
                {% endif %}
            </li>
            <li>
                {% if entity is defined %}
                    {% if entity.getFkDatosGenericosPersonal1().Id is defined %}
                        <a href="{{ path('personaldatosgenericos_edit', { 'id': entity.id }) }}">
                            Editar dato generico
                        </a>
                    {% else %}
                        <a href="{{ path('datosgenericos_edit', { 'id': entity.id }) }}">
                            Editar
                        </a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
{% endblock %}
