{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body_title %}
{{ "{% block body_title -%}" }}
    Crear {{ entity }}
{{ "{% endblock %}" }}
{% endblock body_title %}

{% block body %}
{{ "{% block body -%}" }}

    {{ '{{ form(form) }}' }}

    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
