{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body_title %}
{{ "{% block body_title -%}" }}
    {{ entity }}
{{ "{% endblock %}" }}
{% endblock body_title %}

{% block body %}
{{ "{% block body -%}" }}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>{{ entity }}
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>
        {%- for field, metadata in fields %}
            <tr>
                <th>{{ field|capitalize|replace({'_': ' '}) }}</th>

            {%- if metadata.type in ['date', 'datetime'] %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d-m-Y\') }}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>
    </div>
</div>
    {% set hide_edit, hide_delete = false, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
