{% extends '::base.html.twig' %}

{% block body_title -%}
    Ingresar inf. de enfermedad que padece el funcionario
{% endblock %}

{% block body -%}
    <table class="record_actions">
        <tbody>            <tr>
                <th><h3>Enfermedades de de:</h3></th>
                <td><h3><b>&nbsp;&nbsp;{{ entity.getFkEnfermedadInformacionMedica1() }}</b></h3></td>
            </tr>            <tr>
        </tbody>
    </table>
    {{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('personal_show', { 'id': entity.getFkEnfermedadInformacionMedica1() }) }}">
           Regresar a ficha de información de personal
        </a>
    </li>
</ul>
{% endblock %}
