{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Unidad Organizativa
{% endblock %}

{% block body -%}
    {{ form(edit_form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('unidadorganizativa') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
