{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear Unidad Organizativa
{% endblock %}

{% block body -%}
   {{ form(form) }}
    <ul class="record_actions">
    <li>
        <a href="{{ path('unidadorganizativa') }}">
            Regresar a la lista
        </a>
    </li>
    </ul>
{% endblock %}
