{% extends '::base.html.twig' %}

{% block body_title -%}
    Editar Dias Pendientes
{% endblock %}

{% block body -%}
    {% if entity is defined %}
        <table class="record_actions">
            <tbody>            <tr>
                    <th><h3>Dias Pendientes de:</h3></th>
                    <td><h3><b>&nbsp;&nbsp;{{ entity.personal }}</b></h3></td>
                </tr>            <tr>
            </tbody>
        </table>
    {% endif %}
    
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        {% if cedula is defined %}
            <a href="{{ path('diaspendientes_individual', { 'cedula': cedula }) }}">
                Regresar a la lista
            </a>
        {% endif %}
    </li>
</ul>
{% endblock %}
