{% extends '::base.html.twig' %}

{% block body_title -%}
    Listar Dias Pendientes
{% endblock %}

{% block body -%}
    {% if entity is defined %}
        <table class="record_actions">
            <tbody>            <tr>
                    <th><h3>Dias Pendientes de:</h3></th>
                    <td><h3><b>&nbsp;&nbsp;{{ entity.personal }}</b></h3></td>
                </tr>            <tr>
            </tbody>
        </table>
    {% endif %}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>DiasPendientes
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dias</th>
                <th>Horas</th>
                <th>Minutos</th>
                <th>Documento</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('diaspendientes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.dias }}</td>
                <td>{{ entity.horas }}</td>
                <td>{{ entity.minutos }}</td>
                <td>{{ entity.documento }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    {% if cedula is defined %}
                        <a href="{{ path('diaspendientes_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                        <a href="{{ path('diaspendientes_edit', { 'id': entity.id,'cedula': cedula }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
        <ul>
        <li>
            {% if cedula is defined %}
                <a href="{{ path('diaspendientes_new', { 'cedula': cedula }) }}">
                    Crear nuevo registro
                </a>
            {% endif %}
        </li>
        <li>
            <a href="{{ path('vacaciones_personal') }}">
                Volver a la Lista de funcionarios
            </a>
        </li>
    </ul>
    {% endblock %}
