{% extends '::base.html.twig' %}

{% block body_title -%}
    Dias Pendientes
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            {% if entity is defined %}
                <i ></i>Dias Pendientes de:<b>&nbsp;&nbsp;{{ entity.personal }}</b>
            {% endif %}
        </div>

        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Dias</th>
                <td>{{ entity.dias }}</td>
            </tr>            <tr>
                <th>Horas</th>
                <td>{{ entity.horas }}</td>
            </tr>            <tr>
                <th>Minutos</th>
                <td>{{ entity.minutos }}</td>
            </tr>            <tr>
                <th>Documento</th>
                <td>{{ entity.documento }}</td>
            </tr>            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
    {% if cedula is defined %}
        <li>
            <a href="{{ path('diaspendientes_individual', { 'cedula': cedula }) }}">
                Regresar a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('diaspendientes_edit', { 'id': entity.id, 'cedula': cedula }) }}">
                Editar
            </a>            
        </li>
    {% endif %}
</ul>
{% endblock %}
