{% extends '::base.html.twig' %}

{% block body_title -%}
    {% if personal is defined %}
        <h3>LISTADO DE DATOS VARIABLES ASOCIADOS A:</h3>
        <h3><b>{{ personal }}</b></h3>
    {% else %}
        Listar Datos Variables
    {% endif %}
{% endblock %}

{% block body -%}

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Datos Variables
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="Paginador">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Modoafectacion</th>
                <th>Seccionafectacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.valor }}</td>
                <td>{{ entity.modoAfectacion }}</td>
                <td>{{ entity.seccionAfectacion }}</td>
                <td>
                <ul>                    
                    <a href="{{ path('personaldatosvariables_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-share"></span>&nbsp;Ver</a>&nbsp;                    
                    <a href="{{ path('personaldatosvariables_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs black"><span class=" fa fa-edit"></span>&nbsp;Editar</a>&nbsp;
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>
</div>         
        <ul>
        <li>
            {% if personal is defined %}
                <a href="{{ path('personaldatosvariables_new', { 'id':  personal.id }) }}">
                    Agregar dato variable
                </a>
            {% else %}
                <a href="{{ path('datosvariables_new') }}">
                    Crear nuevo registro
                </a>
            {% endif %}
            
            
        </li>
            
    </ul>
    {% endblock %}
