{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear datos Variables
{% endblock %}

{% block body -%}
    {% if entity is defined %}
        {% if entity.getFkDatosVariablesPersonal1().Id is defined %}
             <table class="record_actions">
            <tbody>            <tr>
                    <th><h3>Datos Variables de:</h3></th>
                    <td><h3><b>&nbsp;&nbsp;{{ entity.getFkDatosVariablesPersonal1() }}</b></h3></td>
                </tr>            <tr>
            </tbody>
            </table>
        {% endif %}
    {% endif %}
    {{ form(form) }}

        <ul class="record_actions">
    <li>    
        {% if entity is defined %}
            {% if entity.getFkDatosVariablesPersonal1().Id is defined %}
                <a href="{{ path('personaldatosvariables_lista', { 'id': entity.getFkDatosVariablesPersonal1().Id }) }}">
                    Regresar a la lista de datos variables de {{ entity.getFkDatosVariablesPersonal1() }}
                </a>
            {% else %}
                <a href="{{ path('datosvariables') }}">
                    Regresar a la lista
                </a>
            {% endif %}
        {% endif %}
    </li>
</ul>
{% endblock %}
