{% extends '::base.html.twig' %}

{% block body_title -%}
    Datos Variables
{% endblock %}

{% block body -%}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
                <i ></i>Datos Variables
                {% if entity is defined %}
                {% if entity.getFkDatosVariablesPersonal1().Id is defined %}
                     <table class="record_actions">
                    <tbody>            <tr>
                            <th><h3>Datos Variables de:</h3></th>
                            <td><h3><b>&nbsp;&nbsp;{{ entity.getFkDatosVariablesPersonal1() }}</b></h3></td>
                        </tr>            <tr>
                    </tbody>
                    </table>
                {% endif %}
                {% endif %}
        </div>
        <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body" align="center">
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>            <tr>
                <th>Modoafectacion</th>
                <td>{{ entity.modoAfectacion }}</td>
            </tr>            <tr>
                <th>Seccionafectacion</th>
                <td>{{ entity.seccionAfectacion }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <ul class="record_actions">
        <li>
                {% if entity is defined %}
                    {% if entity.getFkDatosVariablesPersonal1().Id is defined %}
                        <a href="{{ path('personaldatosvariables_lista', { 'id': entity.getFkDatosVariablesPersonal1().Id }) }}">
                            Regresar a la lista de datos genericos de {{ entity.getFkDatosVariablesPersonal1() }}
                        </a>
                    {% else %}
                        <a href="{{ path('datosvariables') }}">
                            Regresar a la lista
                        </a>
                    {% endif %}
                {% endif %}
            </li>
            <li>
                {% if entity is defined %}
                    {% if entity.getFkDatosVariablesPersonal1().Id is defined %}
                        <a href="{{ path('personaldatosvariables_edit', { 'id': entity.id }) }}">
                            Editar dato Variable
                        </a>
                    {% else %}
                        <a href="{{ path('datosvariables_edit', { 'id': entity.id }) }}">
                            Editar
                        </a>
                    {% endif %}
                {% endif %}
        
    </li>
        </ul>
{% endblock %}
