{% extends '::base.html.twig' %}

{% block body_title -%}
    Crear userPersonalSistemasD
{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('userpersonalsistemasd') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
