/* here you can put your own css to customize and override the theme */

.record_properties td {
    padding: 12px;
    border-color: #CCC;
    border-width: thin;
    border-style: solid;
}

.record_properties th {
    padding: 12px;
    border-color: #CCC;
    border-width: thin;
    border-style: solid;
    background-color: #EEE;
    font-size: 14px;
    font-weight: 600;
}

.registro  {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  padding:5px 5px 1px 5px;
  border-radius: 1px;
}

.registro > .titulo { 
  background-color: #fafafa;
  border-radius: 1px 1px 0 0;
  padding:10px 10px 2px 10px;
  font-size: 15px;
  font-weight: 600;
  //height: 38px;
}

.seccion  {
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 2px;
  border: 1px solid #ddd;
  padding:5px 5px 1px 5px;
  border-radius: 1px;
}
