@media screen
{ 
    .page-break {
        display:block; 
        page-break-after:always;
        /*font-family : "Courier New",monospace !important;*/
    }
    
    .bonoVacacional td {
    
    }
    
    .nomina td {
        
    }
}

@media print
{ 
    .page-break {
        display:block; 
        page-break-after:always;
        /*font-family : "Courier New",monospace !important;*/
        /*font-size: 12px;*/       
    }
    
    .noPrint {
        display:none;
    }
   
    .bonoVacacional td {
        font-size: 12px !important;
    }
    
    .nomina td {
        padding-top: 1px !important;
        padding-right: 5px !important;
        padding-bottom: 1px !important;
        padding-left: 5px !important;
        font-size: 9px !important;
    }
   
    .prestaciones td {
        padding-top: 1px !important;
        padding-right: 5px !important;
        padding-bottom: 1px !important;
        padding-left: 5px !important;
        font-size: 9px !important;
    }
    
    .prestaciones div {        
        font-size: 9px !important;
    }
    
    .total {
        orphans :50;
        widows :50;
    }
}